Repository NASA-IMPACT/veda-ui: changes, and which lefthook commands are due for each by the changed paths.
All: type-check, eslint, stylelint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    type-check:
      glob: '*.{ts,tsx}'
      run: yarn ts-check
    eslint:
      glob: '*.{js,ts,jsx,tsx}'
      run: yarn eslint {staged_files}
    stylelint:
      glob: '*.{js,ts,jsx,tsx}'
      run: yarn lint:style {staged_files}

creating cookie consent form flag & updating colors
  .env
  app/scripts/components/common/layout-root/index.tsx
  mock/veda.config.js
Due: type-check, eslint, stylelint

fix: Empty story description close #1424 (#1438)
  app/scripts/components/common/catalog/prepare-datasets.ts
  app/scripts/components/common/catalog/utils.ts
  app/scripts/types/veda.ts
  mock/stories/life-of-water.stories.mdx
Due: type-check, eslint, stylelint

fix: Make banner flag path and alt text configurable
  app/scripts/components/common/banner/index.tsx
  parcel-resolver-veda/index.js
Due: type-check, eslint, stylelint

Remove the USWDS button from the legacy page header
  app/scripts/components/common/page-header-legacy/nav-menu-item.tsx
Due: type-check, eslint, stylelint

Update sandbox.data.mdx
  mock/datasets/sandbox.data.mdx
Due: none

cleaning up minor styling
  app/scripts/components/common/page-footer/index.tsx
  app/scripts/components/common/page-footer/page-footer.scss
Due: type-check, eslint, stylelint

cleaning up styling
  app/scripts/components/common/page-footer/index.tsx
  app/scripts/components/common/page-footer/page-footer.scss
Due: type-check, eslint, stylelint

Revert "fix: Empty story description close #1424 (#1438)"
  app/scripts/components/common/catalog/prepare-datasets.ts
  app/scripts/components/common/catalog/utils.ts
  app/scripts/types/veda.ts
  mock/stories/life-of-water.stories.mdx
Due: type-check, eslint, stylelint

Revert "fix: Make banner flag path and alt text configurable"
  app/scripts/components/common/banner/index.tsx
  parcel-resolver-veda/index.js
Due: type-check, eslint, stylelint

Revert "Update sandbox.data.mdx"
  mock/datasets/sandbox.data.mdx
Due: none

Revert "updating cookie styling"
  app/scripts/components/common/cookie-consent/index.tsx
Due: type-check, eslint, stylelint

Revert "creating cookie consent form flag & updating colors"
  .env
  app/scripts/components/common/layout-root/index.tsx
  mock/veda.config.js
Due: type-check, eslint, stylelint

Revert "Remove the USWDS button from the legacy page header"
  app/scripts/components/common/page-header-legacy/nav-menu-item.tsx
Due: type-check, eslint, stylelint

Get analysis working
  app/scripts/components/common/map/utils.ts
  app/scripts/components/exploration/analysis-data.ts
  mock/datasets/power_meteorology.data.mdx
Due: type-check, eslint, stylelint

Make colormap&&rescale valid sourceparam
  app/scripts/components/exploration/data-utils-no-faux-module.ts
Due: type-check, eslint, stylelint

removing header beta tag
  app/scripts/components/common/page-header/logo-container/index.tsx
Due: type-check, eslint, stylelint

swapping hard coding for tokens
  app/scripts/components/common/page-header/page-header.scss
  app/scripts/styles/_veda-ui-theme-vars.scss
Due: none

chore(release): update to version v5.13.0
  package.json
Due: none

fix infodescription
  app/scripts/components/exploration/atoms/datasetLayers.ts
  app/scripts/components/exploration/components/datasets/dataset-list-item.tsx
Due: type-check, eslint, stylelint

Make infoDescription required
  app/scripts/components/exploration/components/layer-info-modal.tsx
Due: type-check, eslint, stylelint

Use the coherent parentdataset
  app/scripts/components/exploration/components/layer-info-modal.tsx
  app/scripts/types/veda.ts
Due: type-check, eslint, stylelint

adjust default banner funciton and centering content.
  app/scripts/components/common/banner/banner.scss
Due: none

Return infodescription for parent dataset
  app/scripts/components/exploration/data-utils-no-faux-module.ts
Due: type-check, eslint, stylelint

Consolidate how to get parentdataset
  app/scripts/components/exploration/atoms/datasetLayers.ts
  app/scripts/components/exploration/data-utils-no-faux-module.ts
Due: type-check, eslint, stylelint

Fix type, Remove not used vars
  app/scripts/components/exploration/components/datasets/dataset-list-item.tsx
  app/scripts/components/exploration/types.d.ts.ts
Due: type-check, eslint, stylelint

Use consolidated method to retrieve parent dataset
  app/scripts/components/common/catalog/catalog-content.tsx
Due: type-check, eslint, stylelint

Get rid of datasets from prop interface
  app/scripts/components/exploration/components/datasets/dataset-list-item.tsx
  app/scripts/components/exploration/components/datasets/dataset-list.tsx
Due: type-check, eslint, stylelint

changing to left align
  app/scripts/components/common/banner/banner.scss
  app/scripts/components/common/banner/index.tsx
Due: type-check, eslint, stylelint

updating ENABLE_USWDS_PAGE_HEADER flag
  .env
Due: none

updating env flag check
  app/scripts/components/common/banner/index.tsx
Due: type-check, eslint, stylelint

Update link to theme.css
  app/index.html
Due: none

generate parentdataset
  app/scripts/components/common/catalog/catalog-content.tsx
  app/scripts/components/exploration/atoms/datasetLayers.ts
  app/scripts/components/exploration/data-utils-no-faux-module.ts
  parcel-resolver-veda/stringify-yml-func.js
Due: type-check, eslint, stylelint

applying styling to guidances
  app/scripts/components/common/banner/banner.scss
Due: none

add mailto checks during custom links creation from markdown
  app/scripts/components/common/smart-link.tsx
  app/scripts/utils/url.ts
Due: type-check, eslint, stylelint

external link regex updated to check mailto link as well
  app/scripts/components/common/smart-link.tsx
  app/scripts/utils/url.ts
Due: type-check, eslint, stylelint

try new combination angular + changelog output stream
  .release-it.js
Due: eslint, stylelint

add back conventeional changelog package
  package.json
  yarn.lock
Due: none

refactor to remove parenthesis from ternary operator
  app/scripts/components/common/smart-link.tsx
  app/scripts/utils/url.ts
Due: type-check, eslint, stylelint

Remove changelog part
  .release-it.js
Due: eslint, stylelint

turning guidance on
  app/scripts/components/common/banner/index.tsx
  parcel-resolver-veda/index.js
Due: type-check, eslint, stylelint
