Repository NASA-IMPACT/veda-ui: changes, and which lefthook commands are due for each by the changed paths.
All: type-check, eslint, stylelint

type-check:
  run: yarn ts-check

eslint:
  run: yarn eslint {staged_files}

stylelint:
  run: yarn lint:style {staged_files}

Add tests for date-utils functions
  app/scripts/components/exploration/data-utils.spec.ts
Due: type-check, eslint, stylelint

Fix typo
  app/scripts/components/common/map/style-generators/hooks.ts
Due: type-check, eslint, stylelint

Use RasterPaintLayer for wms timeseries
  app/scripts/components/common/map/style-generators/raster-paint-layer.tsx
  app/scripts/components/common/map/style-generators/wms-timeseries.tsx
Due: type-check, eslint, stylelint

Remove unused `timeDensity`
  app/scripts/components/exploration/components/map/layer.tsx
  app/scripts/components/exploration/data-utils.ts
Due: type-check, eslint, stylelint

Reset bounds on error
  app/scripts/components/common/map/style-generators/hooks.ts
Due: type-check, eslint, stylelint

Make metadata formatter as a prop
  app/scripts/components/common/map/style-generators/cmr-timeseries.tsx
  app/scripts/components/common/map/style-generators/raster-paint-layer.tsx
  app/scripts/components/common/map/style-generators/raster-timeseries.tsx
  app/scripts/components/common/map/style-generators/zarr-timeseries.tsx
  app/scripts/types/veda.ts
Due: type-check, eslint, stylelint

uncomment out steps
  .github/workflows/release.yml
Due: none

revert version test
  package.json
Due: none

chore(release): update to version v6.4.0
  package.json
Due: none

Extend the linking script to set up the appropriate next-* directory path
  utils/link-next.sh
Due: none

Consolidate test syntaxes, add test description
  app/scripts/components/exploration/data-utils.spec.ts
Due: type-check, eslint, stylelint

add requireCommits
  .release-it.js
Due: eslint, stylelint

changing stories card over to uswds
  .env
  app/scripts/components/common/card/index.tsx
  app/scripts/components/data-catalog/container.tsx
  app/scripts/components/exploration/components/dataset-selector-modal/index.tsx
  app/scripts/components/stories/hub/container.tsx
  app/scripts/components/stories/hub/hub-content-legacy.tsx
  app/scripts/components/stories/hub/hub-content.tsx
  app/scripts/libs/page-components.ts
Due: type-check, eslint, stylelint

fix: Legend does not overflow for categorical legend type
  app/scripts/components/common/map/layer-legend.tsx
Due: type-check, eslint, stylelint

mock dataset to verify change in legend type: categorical
  mock/datasets/no2.data.mdx
Due: none

fixed: added swatch colors that do not overflow; review tasks
  app/scripts/components/common/map/layer-legend.tsx
  app/scripts/components/exploration/components/datasets/data-layer-card.tsx
Due: type-check, eslint, stylelint

aligned arrow, data catalog: reversed arrow direction, collapse by default
  app/scripts/components/common/map/layer-legend.tsx
  app/scripts/components/exploration/components/datasets/data-layer-card.tsx
Due: type-check, eslint, stylelint

mock dataset to view categorical legend for Block-Figure- Map component
  mock/stories/air-quality-and-covid-19.stories.mdx
Due: none

Use param `time` instead of `date` for wms request
  app/scripts/components/common/map/style-generators/wms-timeseries.tsx
Due: type-check, eslint, stylelint

Create support-handoff.md
  .github/ISSUE_TEMPLATE/support-handoff.md
Due: none

Make WMS metadata work, delegate source parameter formatting to its parent layer
  app/scripts/components/common/map/style-generators/cmr-timeseries.tsx
  app/scripts/components/common/map/style-generators/raster-paint-layer.tsx
  app/scripts/components/common/map/style-generators/raster-timeseries.tsx
  app/scripts/components/common/map/style-generators/wms-timeseries.tsx
  app/scripts/components/common/map/style-generators/zarr-timeseries.tsx
Due: type-check, eslint, stylelint

chore(release): update to version v6.5.0
  package.json
Due: none

Add bidx to params to repeat
  app/scripts/components/common/map/style-generators/raster-paint-layer.tsx
  app/scripts/components/common/map/style-generators/raster-timeseries.tsx
Due: type-check, eslint, stylelint

Add more parameterse to repeat
  app/scripts/components/common/map/style-generators/raster-paint-layer.tsx
Due: type-check, eslint, stylelint

Add test for titiler format util function
  app/scripts/components/common/map/style-generators/raster-paint-layer.tsx
  app/scripts/components/common/map/style-generators/utils.spec.ts
  app/scripts/components/common/map/style-generators/utils.ts
Due: type-check, eslint, stylelint

Pass props needed for generator order
  app/scripts/components/common/map/style-generators/cmr-timeseries.tsx
  app/scripts/components/common/map/style-generators/raster-timeseries.tsx
  app/scripts/components/common/map/style-generators/zarr-timeseries.tsx
Due: type-check, eslint, stylelint

chore(release): update to version v6.5.1
  package.json
Due: none

Pass generator related params for wms layer
  app/scripts/components/common/map/style-generators/wms-timeseries.tsx
Due: type-check, eslint, stylelint

Clean up: useMosaic doesn't need colormap
  app/scripts/components/common/map/style-generators/raster-timeseries.tsx
Due: type-check, eslint, stylelint

testing split
  .github/workflows/release.yml
  .release-it.js
  package.json
Due: eslint, stylelint

initial push of template
  .github/workflows/release.yml
Due: none

fix: Consolidate RasterPaintLayer (#1607)
  app/scripts/components/common/map/hooks/use-map-style.ts
  app/scripts/components/common/map/style-generators/cmr-timeseries.tsx
  app/scripts/components/common/map/style-generators/raster-paint-layer.tsx
  app/scripts/components/common/map/style-generators/raster-timeseries.tsx
  app/scripts/components/common/map/style-generators/utils.spec.ts
  app/scripts/components/common/map/style-generators/utils.ts
  app/scripts/components/common/map/style-generators/wms-timeseries.tsx
  app/scripts/components/common/map/style-generators/zarr-timeseries.tsx
  app/scripts/types/veda.ts
Due: type-check, eslint, stylelint

Get wmts parameters
  app/scripts/components/common/map/style-generators/hooks.ts
Due: type-check, eslint, stylelint

Add raster layer for wmts data
  app/scripts/components/common/map/style-generators/raster-paint-layer.tsx
Due: type-check, eslint, stylelint

Add wmts component
  app/scripts/components/common/map/style-generators/wmts-timeseries.tsx
Due: type-check, eslint, stylelint

Add type for wmts
  app/scripts/types/veda.ts
Due: type-check, eslint, stylelint

Add wmts layer in map
  app/scripts/components/exploration/components/map/layer.tsx
Due: type-check, eslint, stylelint

Path conditions:
  type-check: any of: *.{ts,tsx}
  eslint: any of: *.{js,ts,jsx,tsx}
  stylelint: any of: *.{js,ts,jsx,tsx}
