Repository NASA-IMPACT/veda-ui: changes, and which lefthook commands are due for each by the changed paths.
All: type-check, eslint, stylelint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    type-check:
      glob: '*.{ts,tsx}'
      run: yarn ts-check
    eslint:
      glob: '*.{js,ts,jsx,tsx}'
      run: yarn eslint {staged_files}
    stylelint:
      glob: '*.{js,ts,jsx,tsx}'
      run: yarn lint:style {staged_files}

Fix nasa-impact/veda-config#865 default dateformat
  app/scripts/components/common/map/utils.ts
Due: type-check, eslint, stylelint

fixes in wmts and wms url
  app/scripts/components/common/map/style-generators/hooks.ts
  app/scripts/components/common/map/style-generators/wms-timeseries.tsx
  app/scripts/components/common/map/style-generators/wmts-timeseries.tsx
Due: type-check, eslint, stylelint

fix: nasa-impact/veda-config#865 handling of unexpected date format (#1708)
  app/scripts/components/common/map/utils.ts
Due: type-check, eslint, stylelint

working on it
  .env
  app/scripts/components/common/map/style-generators/cmr-timeseries.tsx
  app/scripts/components/common/map/style-generators/utils.ts
  mock/datasets/TROPESS_O3.data.mdx
  mock/datasets/TROPESS_O3.jpg
Due: type-check, eslint, stylelint

working on it
  app/scripts/components/common/map/style-generators/utils.ts
Due: type-check, eslint, stylelint

Change preference of time_density
  app/scripts/components/exploration/hooks/use-stac-metadata-datasets.ts
Due: type-check, eslint, stylelint

Use dev endpoint for titiler-cmr
  mock/datasets/TROPESS_O3.data.mdx
Due: none

Remove commented imports
  app/scripts/components/common/map/style-generators/cmr-timeseries.tsx
Due: type-check, eslint, stylelint

Add NOx dataset
  mock/datasets/TROPESS_NOx.data.mdx
Due: none

Add NOx dataset
  mock/datasets/TROPESS_NOx.data.mdx
  mock/datasets/tropess_tcr_optimized_news.jpg
Due: none

Revert changes to .env
  .env
Due: none

updated the stac ID
  mock/datasets/TROPESS_O3.data.mdx
Due: none

update layer to include WMS
  docs/content/frontmatter/layer.md
Due: none

chore(release): update to version v6.6.3
  package.json
Due: none

Reset stac metadata time_density preference
  app/scripts/components/exploration/hooks/use-stac-metadata-datasets.ts
Due: type-check, eslint, stylelint

Update GPM_3IMERGDF.data.mdx
  mock/datasets/GPM_3IMERGDF.data.mdx
Due: none

change variable name for url
  app/scripts/components/common/map/style-generators/wms-timeseries.tsx
Due: type-check, eslint, stylelint

fix: conditional PointsLayer and RasterPaintLayer in JSX syntax not wrapped in {}
  app/scripts/components/common/map/style-generators/raster-timeseries.tsx
Due: type-check, eslint, stylelint

chore(release): update to version v6.6.4
  package.json
Due: none

Handle basic lint and type
  app/scripts/components/common/blocks/light-map.tsx
Due: type-check, eslint, stylelint

Remove confusing part
  app/scripts/components/sandbox/lightmap/index.jsx
Due: eslint, stylelint

chore(release): update to version v6.7.0
  package.json
Due: none

Update tile endpoint
  mock/datasets/TROPESS_NOx.data.mdx
  mock/datasets/TROPESS_O3.data.mdx
Due: none

Fix warning
  app/scripts/components/common/page-header-legacy/nav-menu-item.tsx
Due: type-check, eslint, stylelint

make changes to methods
  app/scripts/components/common/map/style-generators/cmr-timeseries.tsx
  app/scripts/components/common/map/style-generators/utils.ts
Due: type-check, eslint, stylelint

Make timeseries analysis data as a Record so it can accept multiple band's data
  app/scripts/components/exploration/analysis-data.ts
  app/scripts/components/exploration/atoms/hooks.ts
  app/scripts/components/exploration/components/datasets/dataset-chart.tsx
  app/scripts/components/exploration/components/datasets/dataset-list-item.tsx
  app/scripts/components/exploration/components/datasets/layer-chart-analysis-menu.tsx
  app/scripts/components/exploration/hooks/use-analysis-data-request.ts
  app/scripts/components/exploration/types.d.ts.ts
Due: type-check, eslint, stylelint

Lint
  app/scripts/components/exploration/analysis-data.ts
  app/scripts/components/exploration/atoms/timeline.ts
  app/scripts/components/exploration/components/chart-popover.tsx
  app/scripts/components/exploration/components/datasets/analysis-metrics.tsx
  app/scripts/components/exploration/components/datasets/dataset-chart.tsx
  app/scripts/components/exploration/components/datasets/dataset-list-item.tsx
  app/scripts/components/exploration/hooks/use-analysis-data-request.ts
  app/scripts/components/exploration/response.js
Due: type-check, eslint, stylelint

Make request to titiler
  app/scripts/components/exploration/analysis-data.ts
  app/scripts/components/exploration/types.d.ts.ts
Due: type-check, eslint, stylelint

add conditonal notify logic
  .github/workflows/release.yml
Due: none

chore(release): update to version v6.7.1
  package.json
Due: none

fix output not being processed and update notify
  .github/workflows/release.yml
Due: none

chore(release): update to version v6.7.2
  package.json
Due: none

fix, test multiline output logic
  .github/workflows/release.yml
Due: none

chore(release): update to version v6.7.3
  package.json
Due: none

add back notify to test
  .github/workflows/release.yml
Due: none

chore(release): update to version v6.7.4
  package.json
Due: none

log for debugging
  .github/workflows/release.yml
Due: none

chore(release): update to version v6.7.5
  package.json
Due: none

syntax..
  .github/workflows/release.yml
Due: none
