Repository NASA-IMPACT/veda-ui: changes, and which lefthook commands are due for each by the changed paths.
All: type-check, eslint, stylelint

type-check:
  run: yarn ts-check

eslint:
  run: yarn eslint {staged_files}

stylelint:
  run: yarn lint:style {staged_files}

Add raster layer for wmts data
  app/scripts/components/common/map/style-generators/raster-paint-layer.tsx
Due: type-check, eslint, stylelint

Get wmts parameters
  app/scripts/components/common/map/style-generators/hooks.ts
Due: type-check, eslint, stylelint

add mock data for wmts test
  mock/datasets/wmts-dataset.data.mdx
Due: none

add another test step
  .github/workflows/release.yml
Due: none

comment out a step
  .github/workflows/release.yml
Due: none

test version
  .release-it.js
  package.json
Due: eslint, stylelint

comment step out
  .github/workflows/release.yml
Due: none

Add a note about layer
  app/scripts/components/common/map/style-generators/README.md
  docs/media/raster-based-layers.png
Due: none

add repo
  .github/workflows/release.yml
  package.json
Due: none

bump version for testing
  package.json
Due: none

pass version number
  .github/workflows/release.yml
  package.json
Due: none

fix double quotes and bump for test
  .github/workflows/release.yml
  package.json
Due: none

bump vs
  package.json
Due: none

use multiple tile servers for wmts
  app/scripts/components/common/map/style-generators/hooks.ts
  app/scripts/components/common/map/style-generators/raster-paint-layer.tsx
  app/scripts/components/common/map/style-generators/wmts-timeseries.tsx
Due: type-check, eslint, stylelint

chore(release): update to version v6.5.2
  package.json
Due: none

adding update-version dispatch to next-veda-ui
  .github/workflows/release.yml
Due: none

docs: add a doc about raster based dataset type (#1651)
  app/scripts/components/common/map/style-generators/README.md
  docs/media/raster-based-layers.png
Due: none

chore(release): update to version v6.5.3
  package.json
Due: none

Check for optional hidePageHero prop when showing the PageHero in custom user defined pages
  app/scripts/components/user-pages/index.tsx
Due: type-check, eslint, stylelint

namespace custom style
  app/scripts/components/common/form/checkable-filter/checkable-filter.scss
  app/scripts/components/common/form/checkable-filter/index.tsx
Due: type-check, eslint, stylelint

feat: Add props to control visibility of the PageHero and NavWrapper in the veda UI
  app/scripts/components/common/layout-root/index.tsx
  app/scripts/components/user-pages/index.tsx
Due: type-check, eslint, stylelint

Apply story overrides to map layers
  app/scripts/components/common/blocks/block-map.tsx
Due: type-check, eslint, stylelint

Modify one of the story to pass overrides to Map block
  app/scripts/components/common/blocks/block-map.tsx
  mock/stories/air-quality-and-covid-19.stories.mdx
Due: type-check, eslint, stylelint

Add real name/colormap to wmts mock data
  mock/datasets/wmts-dataset.data.mdx
Due: none

add wmts and wms
  app/scripts/components/common/map/style-generators/raster-paint-layer.tsx
  app/scripts/components/common/map/style-generators/wms-timeseries.tsx
  app/scripts/components/common/map/style-generators/wmts-timeseries.tsx
Due: type-check, eslint, stylelint

add wmts and wms
  app/scripts/components/common/map/style-generators/raster-paint-layer.tsx
  app/scripts/components/common/map/style-generators/webmap-timeseries.tsx
  app/scripts/components/common/map/style-generators/wms-timeseries.tsx
  app/scripts/components/common/map/style-generators/wmts-timeseries.tsx
Due: type-check, eslint, stylelint

Namespace in narorower scope
  app/scripts/components/common/banner/banner.scss
  app/scripts/components/common/banner/index.tsx
  app/scripts/components/common/form/checkable-filter/checkable-filter.scss
  app/scripts/components/common/form/checkable-filter/index.tsx
Due: type-check, eslint, stylelint

add black marble dataset
  mock/datasets/black-marble.data.mdx
Due: none

patch for black marble
  app/scripts/components/common/map/style-generators/wmts-timeseries.tsx
Due: type-check, eslint, stylelint

chore(release): update to version v6.6.0
  package.json
Due: none

fix: Pass optional disabled prop to useSlidingStickyHeader
  app/scripts/components/common/layout-root/context.tsx
  app/scripts/utils/use-sliding-sticky-header.ts
Due: type-check, eslint, stylelint

chore(release): update to version v6.6.1
  package.json
Due: none

Remove unnecessary custom style for banner
  app/scripts/components/common/banner/banner.scss
Due: none

fix: Namespace custom style (#1679)
  app/scripts/components/common/banner/banner.scss
  app/scripts/components/common/banner/index.tsx
  app/scripts/components/common/form/checkable-filter/checkable-filter.scss
  app/scripts/components/common/form/checkable-filter/index.tsx
Due: type-check, eslint, stylelint

Try Block map without data collection
  app/scripts/components/common/blocks/light-map.tsx
  app/scripts/components/sandbox/index.js
  app/scripts/components/sandbox/lightmap/index.jsx
Due: type-check, eslint, stylelint

Make the lightest map
  app/scripts/components/common/blocks/light-map.tsx
  app/scripts/components/sandbox/customlayer/index.tsx
  app/scripts/components/sandbox/index.js
  app/scripts/components/sandbox/lightmap/index.jsx
Due: type-check, eslint, stylelint

trying to troubleshoot gpm imerg
  mock/datasets/GPM_3IMERGDF.data.mdx
Due: none

gedi test
  mock/datasets/gedi-l4.data.mdx
Due: none

consolidate wms and wmts
  app/scripts/components/common/map/style-generators/hooks.ts
  app/scripts/components/common/map/style-generators/raster-paint-layer.tsx
  app/scripts/components/common/map/style-generators/wms-timeseries.tsx
  app/scripts/components/common/map/style-generators/wmts-timeseries.tsx
Due: type-check, eslint, stylelint

chore(release): update to version v6.6.2
  package.json
Due: none

Path conditions:
  type-check: any of: *.{ts,tsx}
  eslint: any of: *.{js,ts,jsx,tsx}
  stylelint: any of: *.{js,ts,jsx,tsx}
