Repository NASA-IMPACT/veda-ui: changes, and which lefthook commands are due for each by the changed paths.
All: type-check, eslint, stylelint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    type-check:
      glob: '*.{ts,tsx}'
      run: yarn ts-check
    eslint:
      glob: '*.{js,ts,jsx,tsx}'
      run: yarn eslint {staged_files}
    stylelint:
      glob: '*.{js,ts,jsx,tsx}'
      run: yarn lint:style {staged_files}

Extend the conventional change log
  .release-it.js
  recommended-bump/index.mjs
Due: eslint, stylelint

Preset fix
  .release-it.js
Due: eslint, stylelint

chore(release): update to version v5.14.0
  package.json
Due: none

Update order of link tag
  app/index.html
Due: none

Returning whole changelog for test
  .release-it.js
Due: eslint, stylelint

Comment commits in
  .release-it.js
Due: eslint, stylelint

fix: mailto link in mdx not working (#1470)
  app/scripts/components/common/smart-link.tsx
  app/scripts/utils/url.ts
Due: type-check, eslint, stylelint

Get rid of datasets from prop interface
  app/scripts/components/exploration/components/datasets/dataset-list-item.tsx
  app/scripts/components/exploration/components/datasets/dataset-list.tsx
Due: type-check, eslint, stylelint

Use the coherent parentdataset
  app/scripts/components/exploration/components/layer-info-modal.tsx
  app/scripts/types/veda.ts
Due: type-check, eslint, stylelint

Make infoDescription required
  app/scripts/components/exploration/components/layer-info-modal.tsx
Due: type-check, eslint, stylelint

Use consolidated method to retrieve parent dataset
  app/scripts/components/common/catalog/catalog-content.tsx
Due: type-check, eslint, stylelint

Fix type, Remove not used vars
  app/scripts/components/exploration/components/datasets/dataset-list-item.tsx
  app/scripts/components/exploration/types.d.ts.ts
Due: type-check, eslint, stylelint

Return infodescription for parent dataset
  app/scripts/components/exploration/data-utils-no-faux-module.ts
Due: type-check, eslint, stylelint

fix infodescription
  app/scripts/components/exploration/atoms/datasetLayers.ts
  app/scripts/components/exploration/components/datasets/dataset-list-item.tsx
Due: type-check, eslint, stylelint

Consolidate how to get parentdataset
  app/scripts/components/exploration/atoms/datasetLayers.ts
  app/scripts/components/exploration/data-utils-no-faux-module.ts
Due: type-check, eslint, stylelint

add mailto checks during custom links creation from markdown
  app/scripts/components/common/smart-link.tsx
  app/scripts/utils/url.ts
Due: type-check, eslint, stylelint

external link regex updated to check mailto link as well
  app/scripts/components/common/smart-link.tsx
  app/scripts/utils/url.ts
Due: type-check, eslint, stylelint

refactor to remove parenthesis from ternary operator
  app/scripts/components/common/smart-link.tsx
  app/scripts/utils/url.ts
Due: type-check, eslint, stylelint

chore(release): update to version v5.13.1
  package.json
Due: none

update tests
  app/scripts/components/common/layout-root/index.tsx
  app/scripts/components/common/page-footer/default-config.ts
  app/scripts/components/common/page-footer/footer.test.tsx
  app/scripts/components/common/page-footer/index.tsx
  app/scripts/components/common/page-header/default-config.ts
  app/scripts/components/common/page-header/index.tsx
  app/scripts/components/common/page-header/nav/create-dynamic-nav-menu-list.tsx
  app/scripts/components/common/page-header/nav/nav-dropdown-button.tsx
  app/scripts/components/common/page-header/nav/nav-item-cta.tsx
  app/scripts/components/common/page-header/nav/nav-item-links.tsx
  app/scripts/components/common/page-header/types.ts
  app/scripts/components/common/types.ts
  mock/veda.config.js
  parcel-resolver-veda/index.d.ts
Due: type-check, eslint, stylelint

fix tests
  app/scripts/components/common/page-footer/footer.test.tsx
  app/scripts/components/common/page-header/page-header.test.tsx
Due: type-check, eslint, stylelint

Fix release log generation function
  .release-it.js
  recommended-bump/index.mjs
Due: eslint, stylelint

Conditionally load the theme.css from veda-config
  app/index.html
Due: none

Update link to the veda-config USWDS stylesheet, create theme.css placeholder file
  app/index.html
  static/styles/theme.css
Due: none

Update path
  app/index.html
Due: none

Fix path
  app/index.html
Due: none

Clean up
  .release-it.js
Due: eslint, stylelint

fix: display infoDescription for layer modal (#1465)
  app/scripts/components/common/catalog/catalog-content.tsx
  app/scripts/components/exploration/atoms/datasetLayers.ts
  app/scripts/components/exploration/components/datasets/dataset-list-item.tsx
  app/scripts/components/exploration/components/datasets/dataset-list.tsx
  app/scripts/components/exploration/components/layer-info-modal.tsx
  app/scripts/components/exploration/data-utils-no-faux-module.ts
  app/scripts/components/exploration/types.d.ts.ts
  app/scripts/types/veda.ts
Due: type-check, eslint, stylelint

fix: changelog generation (#1473)
  .release-it.js
  recommended-bump/index.mjs
Due: eslint, stylelint

Add cache, and failure notice
  .github/workflows/release.yml
Due: none

Update app/scripts/components/common/banner/banner.scss
  app/scripts/components/common/banner/banner.scss
Due: none

Make colormap&&rescale valid sourceparam
  app/scripts/components/exploration/data-utils-no-faux-module.ts
Due: type-check, eslint, stylelint

Keep uswds assets for veda-ui when used as submodule
  gulpfile.js
Due: eslint, stylelint

Add FlagLayoutCard and implement first
  .env
  app/scripts/components/common/card/flag-layout-card/index.tsx
  app/scripts/components/common/card/flag-layout-card/styles.scss
  app/scripts/components/common/card/index.tsx
  app/scripts/components/common/catalog/catalog-content-legacy.tsx
  app/scripts/components/common/catalog/index.tsx
  app/scripts/components/common/page-header/logo-container/index.tsx
  app/scripts/components/common/tags/index.tsx
  app/scripts/components/common/tags/styles.scss
  app/scripts/components/common/uswds/card.tsx
  app/scripts/components/common/uswds/index.tsx
  app/scripts/components/common/uswds/tag.tsx
  app/scripts/components/data-catalog/container.tsx
  app/scripts/components/exploration/components/dataset-selector-modal/index.tsx
  app/scripts/components/exploration/components/datasets/data-layer-card.tsx
  app/scripts/components/exploration/components/layer-info-modal.tsx
  app/scripts/styles/_veda-ui-theme-vars.scss
  app/scripts/styles/styles.scss
Due: type-check, eslint, stylelint

Update app/scripts/components/common/banner/index.tsx
  app/scripts/components/common/banner/index.tsx
Due: type-check, eslint, stylelint

updating parcel resolver
  app/scripts/components/common/banner/index.tsx
  mock/veda.config.js
  parcel-resolver-veda/index.js
Due: type-check, eslint, stylelint

Add task back
  gulpfile.js
Due: eslint, stylelint

expose CatalogContent instead of CatalogView and updates props and add draft component docs
  app/scripts/components/common/card/flag-layout-card/index.tsx
  app/scripts/index.ts
  docs/components/COMPONENTS.md
  docs/components/FEATURE_COMPONENTS.md
Due: type-check, eslint, stylelint

Remove validating of source parameter, change cascading order of source parameters
  app/scripts/components/exploration/data-utils-no-faux-module.ts
  app/scripts/types/veda.ts
Due: type-check, eslint, stylelint

add flagLayoutCard to sandbox
  app/scripts/components/common/card/flag-layout-card/index.tsx
  app/scripts/components/sandbox/cards/index.js
  app/scripts/index.ts
  docs/components/COMPONENTS.md
Due: type-check, eslint, stylelint
