Repository NASA-IMPACT/veda-ui: changes, and which lefthook commands are due for each by the changed paths.
All: type-check, eslint, stylelint

type-check:
  run: yarn ts-check

eslint:
  run: yarn eslint {staged_files}

stylelint:
  run: yarn lint:style {staged_files}

feat: create custom hand gesture icons from collecticons SVG paths
  app/scripts/components/common/custom-icon/hand-pan.tsx
  app/scripts/components/common/custom-icon/hand-swipe-horizontal.tsx
  app/scripts/components/common/custom-icon/index.tsx
  app/scripts/styles/continuum/continuum-scroll-indicator.tsx
  storybook/src/stories/documentation/icon-guidelines.stories.tsx
Due: type-check, eslint, stylelint

feat: complete collecticons dependency removal
  app/scripts/components/common/icons-legacy/calendar-minus.tsx
  app/scripts/components/common/icons-legacy/calendar-plus.tsx
  app/scripts/components/common/icons-legacy/index.tsx
  package.json
  storybook/utils/stream-shim.js
  storybook/vite.config.ts
  yarn.lock
Due: type-check, eslint, stylelint

docs: add dynamic icons reference to Library Components
  storybook/.storybook/preview.tsx
  storybook/src/stories/documentation/icon-guidelines.stories.tsx
  storybook/src/stories/library-components/icons.stories.tsx
Due: type-check, eslint, stylelint

chore(release): update to version v6.19.0
  package.json
Due: none

Add micasa to mock datasets for testing
  mock/datasets/geos-casa-gfed-cover.jpg
  mock/datasets/micasa-carbonflux-daygrid-cmr-v1.data.mdx
Due: none

chore: initialize yarn workspaces
  package.json
Due: none

chore: create library package.json
  packages/veda-ui/package.json
Due: none

refactor: update tsconfig path aliases for new structure
  tsconfig.json
Due: none

refactor: update package.json aliases for new structure
  package.json
Due: none

refactor: update gulpfile library entry point path
  gulpfile.js
Due: eslint, stylelint

refactor: update gulpfile library output directory
  gulpfile.js
Due: eslint, stylelint

refactor: update buildlib script for new lib location
  package.json
Due: none

refactor: move parcel library config to package directory
  packages/veda-ui/.parcelrc-lib
Due: none

refactor: update parcelLibConfig path reference
  gulpfile.js
Due: eslint, stylelint

refactor: complete library reorganization and fix build
  gulpfile.js
  package.json
  packages/veda-ui/.parcelrc-lib
  packages/veda-ui/graphics/content/tour-analysis.gif
  packages/veda-ui/graphics/content/tour-comparison.gif
  packages/veda-ui/graphics/layout/root-welcome--cover.jpg
  packages/veda-ui/graphics/layout/user-enthusiasts.jpg
  packages/veda-ui/graphics/layout/user-researcher.jpg
  packages/veda-ui/graphics/layout/user-scientists.jpg
  packages/veda-ui/graphics/layout/vp-01-illu.png
  packages/veda-ui/graphics/layout/vp-02-illu.png
  packages/veda-ui/graphics/layout/vp-03-illu.png
  packages/veda-ui/package.json
  tsconfig.json
Due: eslint, stylelint

refactor: add mock/test aliases, fix test imports and lint
  package.json
  packages/veda-ui/src/components/common/page-footer/footer.test.tsx
  packages/veda-ui/src/components/common/page-header/page-header.test.tsx
  storybook/vite.config.ts
  tsconfig.json
Due: type-check, eslint, stylelint

fix: path in index.html
  app/index.html
Due: none

fix: update stylelint ignore paths for monorepo structure
  .stylelintrc.json
Due: none

Dynamically displays when searched across pages
  app/scripts/components/common/catalog/catalog-content.tsx
  app/scripts/components/common/catalog/filters-controls/filters-control.tsx
Due: type-check, eslint, stylelint

Get search/filter result from 2nd..n page
  app/scripts/components/common/catalog/catalog-content.tsx
Due: type-check, eslint, stylelint

fix: Rename React component files from .js to .jsx
  app/scripts/components/common/blocks/figure.jsx
  app/scripts/components/common/blocks/images/compare.jsx
  app/scripts/components/common/blocks/images/index.jsx
  app/scripts/components/common/blocks/index.test.jsx
  app/scripts/components/common/blocks/lazy-components.jsx
  app/scripts/components/common/bounds-fieldset.jsx
  app/scripts/components/common/cookie-consent/cookieConsent.spec.jsx
  app/scripts/components/common/mdx-content.jsx
  app/scripts/components/common/meta-tags.jsx
  app/scripts/components/common/nasa-logo-color.jsx
  app/scripts/components/common/nasa-logo.jsx
  app/scripts/components/common/nav-wrapper.jsx
  app/scripts/components/common/try-render.jsx
  app/scripts/components/sandbox/cards/index.jsx
  app/scripts/components/sandbox/index.jsx
  app/scripts/components/sandbox/legacy/cards/index.jsx
  app/scripts/components/sandbox/legacy/colors/index.jsx
  app/scripts/components/sandbox/legacy/content-blocks/index.jsx
  app/scripts/components/sandbox/legacy/exploration-map/index.jsx
  app/scripts/components/sandbox/legacy/exploration/timeline-analysis/external-layer-card.jsx
  app/scripts/components/sandbox/legacy/exploration/timeline-analysis/index.jsx
  app/scripts/components/sandbox/legacy/hug/index.jsx
  app/scripts/components/sandbox/legacy/layer-info/index.jsx
  app/scripts/components/sandbox/legacy/map-block/index.jsx
  app/scripts/components/sandbox/legacy/mdx-chart/index.jsx
  app/scripts/components/sandbox/legacy/mdx-page/index.jsx
  app/scripts/components/sandbox/legacy/mdx-scrollytelling/index.jsx
  app/scripts/components/sandbox/legacy/request/index.jsx
  app/scripts/components/sandbox/legacy/table/index.jsx
  app/scripts/components/sandbox/legacy/typography/index.jsx
  app/scripts/components/sandbox/override/index.jsx
  app/scripts/components/uhoh/fatal-error.jsx
  app/scripts/components/uhoh/index.jsx
Due: eslint, stylelint

Bug-fix search bar
  app/scripts/components/common/catalog/catalog-content.tsx
  app/scripts/components/common/catalog/filters-controls/filters-control.tsx
Due: type-check, eslint, stylelint

Search bar fix
  app/scripts/components/common/catalog/filters-controls/filters-control.tsx
Due: type-check, eslint, stylelint

chore(release): update to version v6.19.1
  package.json
Due: none

Update app/scripts/components/common/catalog/catalog-content.tsx
  app/scripts/components/common/catalog/catalog-content.tsx
Due: type-check, eslint, stylelint

refactor(filters-control): replace || with ?? to handle search input safely
  app/scripts/components/common/catalog/filters-controls/filters-control.tsx
Due: type-check, eslint, stylelint

initial commit
  app/scripts/components/common/map/controls/index.tsx
Due: type-check, eslint, stylelint

creating share button
  app/scripts/components/exploration/components/map/index.tsx
  app/scripts/components/exploration/components/map/share-button.tsx
Due: type-check, eslint, stylelint

feat:add embed exploration
  app/scripts/components/exploration/atoms/embed.ts
  app/scripts/components/exploration/components/embed-exploration/embed-timeline.tsx
  app/scripts/components/exploration/container.tsx
  app/scripts/components/exploration/embed-exploration.tsx
Due: type-check, eslint, stylelint

fix:add semicolon
  app/scripts/components/common/map/style-generators/wmts-timeseries.tsx
Due: type-check, eslint, stylelint

fix: make release workflow idempotent and reset version to last successful release
  .github/workflows/release.yml
  package.json
Due: none

ci: disable the slack notifications until we stabilize the release workflow
  .github/workflows/release.yml
Due: none

ci: modify clean up to not delete last tag
  .github/workflows/release.yml
Due: none

chore(release): update to version v6.17.0
  package.json
Due: none

ci: re-enable slack notifications for failed releases
  .github/workflows/release.yml
Due: none

do not override rescale defined from source parameters in map layer
  app/scripts/components/common/map/style-generators/raster-paint-layer.tsx
  app/scripts/components/common/map/style-generators/raster-timeseries.tsx
  app/scripts/components/common/map/types.d.ts
  app/scripts/components/exploration/components/map/layer.tsx
Due: type-check, eslint, stylelint

Update setup instructions for Storybook
  docs/development/SETUP.md
Due: none

add rescale to dataset context and update colormapscale default to mdx rescale
  app/scripts/components/exploration/components/datasets/data-layer-card-container.tsx
  app/scripts/components/exploration/data-utils.ts
  app/scripts/components/exploration/types.d.ts.ts
Due: type-check, eslint, stylelint

Update docs/development/SETUP.md
  docs/development/SETUP.md
Due: none

Path conditions:
  type-check: any of: *.{ts,tsx}
  eslint: any of: *.{js,ts,jsx,tsx}
  stylelint: any of: *.{js,ts,jsx,tsx}
