Repository NASA-IMPACT/veda-ui: changes, and which lefthook commands are due for each by the changed paths.
All: type-check, eslint, stylelint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    type-check:
      glob: '*.{ts,tsx}'
      run: yarn ts-check
    eslint:
      glob: '*.{js,ts,jsx,tsx}'
      run: yarn eslint {staged_files}
    stylelint:
      glob: '*.{js,ts,jsx,tsx}'
      run: yarn lint:style {staged_files}

Clean up, add test
  app/scripts/components/exploration/constants.ts
  app/scripts/components/exploration/data-utils-no-faux-module.spec.ts
  app/scripts/components/exploration/data-utils-no-faux-module.ts
  app/scripts/types/veda.ts
Due: type-check, eslint, stylelint

Use SourceParams interface
  app/scripts/types/veda.ts
Due: type-check, eslint, stylelint

Move a few things around, update docs
  app/scripts/components/common/card/flag-layout-card/styles.scss
  app/scripts/components/common/card/index.tsx
  app/scripts/components/common/card/uswds-cards/default-card.tsx
  app/scripts/components/common/card/uswds-cards/flag-card.tsx
  app/scripts/components/common/card/uswds-cards/index.tsx
  app/scripts/components/common/card/uswds-cards/styles.scss
  app/scripts/components/common/card/uswds-cards/types.ts
  app/scripts/components/sandbox/cards/index.js
  app/scripts/index.ts
  docs/components/COMPONENTS.md
Due: type-check, eslint, stylelint

Remove manual imports, use USWDS core for veda-ui
  app/scripts/styles/styles.scss
Due: none

Remove obsolete comment
  app/scripts/styles/_uswds-theme.scss
Due: none

Decouple veda-ui specific styles from USWDS styles
  app/scripts/styles/styles.scss
  app/scripts/styles/veda-styles.scss
Due: none

Decouple stylesheets
  app/scripts/main.tsx
Due: type-check, eslint, stylelint

Update tests
  app/scripts/components/common/page-footer/footer.test.tsx
Due: type-check, eslint, stylelint

add class to tags and update docs
  app/scripts/components/common/tags/index.tsx
  docs/components/COMPONENTS.md
Due: type-check, eslint, stylelint

Format release note a bit better
  .github/workflows/release.yml
  .release-it.js
Due: eslint, stylelint

Revert matrix strategy
  .github/workflows/release.yml
Due: none

fixed Browser Issue (Topic and Stories) in Stories tab on Dashboard
  app/scripts/components/common/browse-controls/index.tsx
Due: type-check, eslint, stylelint

Fix date query param, add sample datasets
  app/scripts/components/common/map/style-generators/arc.tsx
  app/scripts/components/common/page-footer-legacy.tsx
  mock/datasets/arcgis.data.mdx
Due: type-check, eslint, stylelint

pass in footerContent instead of tagLabels
  app/scripts/components/common/card/index.tsx
  app/scripts/components/common/catalog/catalog-content.tsx
Due: type-check, eslint, stylelint

Remove styleOverrides attr because unnecessary, users can pass in jsx.element
  app/scripts/components/common/card/uswds-cards/index.tsx
  app/scripts/components/common/card/uswds-cards/types.ts
  docs/components/COMPONENTS.md
Due: type-check, eslint, stylelint

Replace the devseed UI button with one from USWDS
  app/scripts/components/data-catalog/dataset-menu.tsx
Due: type-check, eslint, stylelint

ci: Add cache, and failure notice for release action (#1474)
  .github/workflows/release.yml
  .release-it.js
Due: eslint, stylelint

chore(release): update to version v5.14.0
  package.json
Due: none

Trying to use a uswds grid layout in our sandbox page
  .env
  app/scripts/components/sandbox/index.js
Due: eslint, stylelint

Use USWDS Grid
  app/scripts/components/sandbox/index.js
Due: eslint, stylelint

update to some comments
  app/scripts/components/common/card/index.tsx
  app/scripts/components/common/card/uswds-cards/styles.scss
  app/scripts/components/common/catalog/catalog-content.tsx
Due: type-check, eslint, stylelint

Disable focus for search input
  app/scripts/components/common/search-field.tsx
Due: type-check, eslint, stylelint

Change import
  app/scripts/components/data-catalog/dataset-menu.tsx
Due: type-check, eslint, stylelint

Require import conditionally
  app/scripts/main.tsx
Due: type-check, eslint, stylelint

Move legacy sandbox components to separate folder
  app/scripts/components/sandbox/index.js
  app/scripts/components/sandbox/legacy/cards/index.js
  app/scripts/components/sandbox/legacy/colors/index.js
  app/scripts/components/sandbox/legacy/content-blocks/index.js
  app/scripts/components/sandbox/legacy/exploration-map/index.js
  app/scripts/components/sandbox/legacy/hug/index.js
  app/scripts/components/sandbox/legacy/layer-info/index.js
  app/scripts/components/sandbox/legacy/map-block/index.js
  app/scripts/components/sandbox/legacy/mdx-chart/aq.csv
  app/scripts/components/sandbox/legacy/mdx-chart/chart.mdx
  app/scripts/components/sandbox/legacy/mdx-chart/example.csv
  app/scripts/components/sandbox/legacy/mdx-chart/index.js
  app/scripts/components/sandbox/legacy/mdx-chart/sample.json
  app/scripts/components/sandbox/legacy/mdx-chart/two-column.csv
  app/scripts/components/sandbox/legacy/mdx-editor/index.tsx
  app/scripts/components/sandbox/legacy/mdx-editor/mdx-editor.tsx
  app/scripts/components/sandbox/legacy/mdx-page/example.csv
  app/scripts/components/sandbox/legacy/mdx-page/img-placeholder-5.jpg
  app/scripts/components/sandbox/legacy/mdx-page/index.js
  app/scripts/components/sandbox/legacy/mdx-page/page.mdx
  app/scripts/components/sandbox/legacy/mdx-scrollytelling/index.js
  app/scripts/components/sandbox/legacy/mdx-scrollytelling/page.mdx
  app/scripts/components/sandbox/legacy/request/index.js
  app/scripts/components/sandbox/legacy/table/index.js
  app/scripts/components/sandbox/legacy/table/table.mdx
  app/scripts/components/sandbox/legacy/typography/index.js
  app/scripts/components/sandbox/override/index.js
Due: type-check, eslint, stylelint

Change link order
  app/index.html
Due: none

Add sandbox card and page for uswds colors
  app/scripts/components/sandbox/colors.tsx
  app/scripts/components/sandbox/index.js
Due: type-check, eslint, stylelint

Add alias, modify imports to apply correct style precedence
  app/index.html
  app/scripts/main.tsx
  package.json
Due: type-check, eslint, stylelint

Enable USWDS page header
  .env
Due: none

Add pagination component to sandbox (SSR enabled)
  app/scripts/components/sandbox/index.js
  app/scripts/components/sandbox/pagination/index.tsx
  app/scripts/components/sandbox/pagination/pagination-container.tsx
  app/scripts/components/sandbox/pagination/pagination.tsx
  app/scripts/styles/styles.scss
Due: type-check, eslint, stylelint

Edit tests
  app/scripts/components/exploration/data-utils-no-faux-module.spec.ts
  app/scripts/components/exploration/data-utils-no-faux-module.ts
  app/scripts/components/exploration/hooks/use-stac-metadata-datasets.ts
Due: type-check, eslint, stylelint

Move import of USWDS grid and pagination components to common/uswds
  app/scripts/components/common/uswds/grid/index.tsx
  app/scripts/components/common/uswds/index.tsx
  app/scripts/components/common/uswds/pagination/index.tsx
  app/scripts/components/sandbox/pagination/pagination.tsx
Due: type-check, eslint, stylelint

Filter sandbox pages to split legacy and USWDS components
  app/scripts/components/sandbox/index.js
Due: eslint, stylelint

Fix types
  app/scripts/components/common/catalog/catalog-content.tsx
  app/scripts/components/exploration/components/dataset-selector-modal/index.tsx
  app/scripts/components/exploration/data-utils-no-faux-module.ts
  app/scripts/components/exploration/types.d.ts.ts
  app/scripts/data-layer/datasets.tsx
  app/scripts/types/veda.ts
  app/scripts/utils/veda-data/taxonomies.ts
Due: type-check, eslint, stylelint

test commit
  app/scripts/components/common/catalog/filter-controls.scss
Due: none

tags
  app/scripts/components/common/uswds/tag.tsx
Due: type-check, eslint, stylelint

filter tags
  app/scripts/components/common/catalog/filter-tag.tsx
Due: type-check, eslint, stylelint

search
  app/scripts/components/common/uswds/search.tsx
Due: type-check, eslint, stylelint

USWDS roll up file
  app/scripts/components/common/uswds/index.tsx
Due: type-check, eslint, stylelint
