Repository NASA-IMPACT/veda-ui: changes, and which lefthook commands are due for each by the changed paths.
All: type-check, eslint, stylelint

type-check:
  run: yarn ts-check

eslint:
  run: yarn eslint {staged_files}

stylelint:
  run: yarn lint:style {staged_files}

Update FlagCard and DefaultCard and make BaseCard more flexible
  app/scripts/components/common/card/index.tsx
  app/scripts/components/common/card/uswds-cards/default-card.tsx
  app/scripts/components/common/card/uswds-cards/flag-card.tsx
  app/scripts/components/common/card/uswds-cards/index.tsx
  app/scripts/components/common/card/uswds-cards/topic-card/index.tsx
  app/scripts/components/common/card/uswds-cards/types.ts
  app/scripts/components/sandbox/cards/index.js
Due: type-check, eslint, stylelint

restore styles and topic-card file back to og place
  app/scripts/components/common/card/uswds-cards/topic-card.tsx
  app/scripts/components/common/card/uswds-cards/topic-card/styles.scss
Due: type-check, eslint, stylelint

clean some more
  app/scripts/components/common/card/uswds-cards/base-card.tsx
  app/scripts/components/common/card/uswds-cards/default-card.tsx
  app/scripts/components/common/card/uswds-cards/flag-card.tsx
  app/scripts/components/common/card/uswds-cards/topic-card.tsx
Due: type-check, eslint, stylelint

Type cardElements in TopicCard
  app/scripts/components/common/card/uswds-cards/topic-card.tsx
Due: type-check, eslint, stylelint

Fix lint
  app/scripts/components/common/catalog/catalog-content.tsx
  app/scripts/components/common/catalog/filters-controls/filters-control.tsx
Due: type-check, eslint, stylelint

correcting test errors
  mock/veda.config.js
Due: eslint, stylelint

Update issue templates
  .github/ISSUE_TEMPLATE/standard-story.md
Due: none

Support `dashboard:time_interval`
  app/scripts/components/exploration/data-utils.ts
  app/scripts/components/exploration/hooks/use-stac-metadata-datasets.ts
  app/scripts/components/exploration/types.d.ts.ts
Due: type-check, eslint, stylelint

fix: type generation (#1535)
  app/scripts/components/common/blocks/block-map.tsx
  app/scripts/components/common/catalog/catalog-content.tsx
  app/scripts/components/common/chart/block.tsx
  app/scripts/components/common/page-hero.tsx
  app/scripts/components/exploration/index.tsx
  app/scripts/context/react-query.tsx
  app/scripts/context/veda-ui-provider.tsx
  app/scripts/index.ts
  app/scripts/libs/atoms.ts
  app/scripts/libs/enum.ts
  app/scripts/libs/hooks.ts
  app/scripts/libs/index.ts
  app/scripts/libs/mdx-components.ts
  app/scripts/libs/page-components.ts
  app/scripts/libs/types.ts
  app/scripts/libs/uswds-components.ts
  app/scripts/theme-provider.tsx
  gulpfile.js
Due: type-check, eslint, stylelint

Export Modal Widget to use in libs and MdxContent
  app/scripts/components/common/mdx-content.js
  app/scripts/libs/index.ts
  app/scripts/libs/uswds-components.ts
  package.json
Due: type-check, eslint, stylelint

Wrap MDXCompontents with Widget and relative div
  mock/datasets/nighttime-lights.data.mdx
  mock/datasets/sandbox.data.mdx
  mock/stories/air-quality-and-covid-19.stories.mdx
Due: none

Remove legacy code for singular time interval
  app/scripts/components/exploration/data-utils.ts
Due: type-check, eslint, stylelint

Use colormap from legend when no colormap is provided in sourceParams
  app/scripts/components/common/map/layer-legend.tsx
  app/scripts/components/exploration/components/datasets/data-layer-card.tsx
Due: type-check, eslint, stylelint

Format and ts fix
  app/scripts/components/exploration/components/datasets/data-layer-card.tsx
Due: type-check, eslint, stylelint

Update Widget heading to h4
  app/scripts/components/common/widget/__snapshots__/widget.test.tsx.snap
  app/scripts/components/common/widget/header.tsx
Due: type-check, eslint, stylelint

Add wms support
  app/scripts/components/common/map/style-generators/hooks.ts
  app/scripts/components/common/map/style-generators/wms-timeseries.tsx
  app/scripts/components/exploration/components/map/layer.tsx
  app/scripts/components/exploration/data-utils.ts
  app/scripts/components/exploration/hooks/use-stac-metadata-datasets.ts
  app/scripts/components/exploration/types.d.ts.ts
  app/scripts/types/veda.ts
  app/scripts/utils/date.ts
  parcel-resolver-veda/index.d.ts
Due: type-check, eslint, stylelint

Add arcgis datasets
  mock/datasets/arcgis.data.mdx
Due: none

remove conditions
  app/scripts/components/common/card/uswds-cards/default-card.tsx
  app/scripts/components/common/card/uswds-cards/flag-card.tsx
Due: type-check, eslint, stylelint

Remove condition for bi weekly release
  .github/workflows/release.yml
Due: none

Make zIndex value integer
  app/scripts/components/exploration/components/datasets/colorRangeSlider/index.tsx
Due: type-check, eslint, stylelint

Simplify conditional, break out the header into two components
  app/scripts/components/common/card/uswds-cards/topic-card.tsx
Due: type-check, eslint, stylelint

Move imgSrc to const
  app/scripts/components/sandbox/cards/index.js
Due: eslint, stylelint

Make card focusable if needed
  app/scripts/components/common/card/uswds-cards/base-card.tsx
  app/scripts/components/common/card/uswds-cards/topic-card.tsx
  app/scripts/components/common/card/uswds-cards/types.ts
  app/scripts/components/sandbox/cards/index.js
Due: type-check, eslint, stylelint

Fix hardcoded styles
  app/scripts/components/common/card/uswds-cards/base-card.tsx
Due: type-check, eslint, stylelint

Fix theme color lightest
  app/scripts/styles/_veda-ui-theme-vars.scss
Due: none

ci: Change release cadence to weekly (#1569)
  .github/workflows/release.yml
Due: none

Add WMS url to "Load into GIS" feature
  app/scripts/components/common/map/style-generators/wms-timeseries.tsx
  app/scripts/components/exploration/components/datasets/tile-link-modal.tsx
  app/scripts/components/exploration/components/map/index.tsx
Due: type-check, eslint, stylelint

Zoom to bbox
  app/scripts/components/common/map/style-generators/hooks.ts
  app/scripts/components/common/map/style-generators/wms-timeseries.tsx
Due: type-check, eslint, stylelint

Remove broken wms dataset
  mock/datasets/arcgis.data.mdx
Due: none

Remove example datasets that aren't published
  mock/datasets/arcgis.data.mdx
Due: none

introduced a new lagend type text
  app/scripts/components/common/blocks/scrollytelling/index.tsx
  app/scripts/components/common/map/layer-legend.tsx
  app/scripts/components/exploration/components/datasets/data-layer-card.tsx
  app/scripts/types/veda.ts
  parcel-resolver-veda/index.d.ts
Due: type-check, eslint, stylelint

Rename
  app/scripts/components/common/map/style-generators/wms-timeseries.tsx
Due: type-check, eslint, stylelint

Add a timeless dataset
  mock/datasets/arcgis.data.mdx
Due: none

Add default params for wms
  app/scripts/components/common/map/style-generators/wms-timeseries.tsx
Due: type-check, eslint, stylelint

Fix non configurable cmap condition and add an example
  app/scripts/components/exploration/components/datasets/data-layer-card.tsx
  mock/datasets/data-from-ghg.data.mdx
Due: type-check, eslint, stylelint

Remove conditions for workflow dispatch
  .github/workflows/release.yml
Due: none

Simplify Regex, move title to text block
  .github/workflows/release.yml
  .release-it.js
Due: eslint, stylelint

Use DatasetType from $types/veda
  app/scripts/components/common/notebook-connect.tsx
Due: type-check, eslint, stylelint

ci: Release action follow-up (#1572)
  .github/workflows/release.yml
  .release-it.js
Due: eslint, stylelint

chore(release): update to version v6.2.0
  package.json
Due: none

Path conditions:
  type-check: any of: *.{ts,tsx}
  eslint: any of: *.{js,ts,jsx,tsx}
  stylelint: any of: *.{js,ts,jsx,tsx}
