Repository NASA-IMPACT/veda-ui: changes, and which lefthook commands are due for each by the changed paths.
All: type-check, eslint, stylelint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    type-check:
      glob: '*.{ts,tsx}'
      run: yarn ts-check
    eslint:
      glob: '*.{js,ts,jsx,tsx}'
      run: yarn eslint {staged_files}
    stylelint:
      glob: '*.{js,ts,jsx,tsx}'
      run: yarn lint:style {staged_files}

refactor: Remove pathname property in favor of storiesCatalogPath from VedaUIProvider
  app/scripts/components/stories/hub/container.tsx
  app/scripts/components/stories/hub/hub-content.tsx
Due: type-check, eslint, stylelint

refactor: Remove deprecated usage of linkProperties from FeatureSliderSection
  app/scripts/components/common/featured-slider-section.tsx
Due: type-check, eslint, stylelint

Provide a fallback value for top offset of ScrollyMapContainer
  app/scripts/components/common/blocks/scrollytelling/index.tsx
Due: type-check, eslint, stylelint

Move to js file for release it conf
  .release-it.js
  .release-it.json
Due: eslint, stylelint

Update conventional change log package to 10
  package.json
  yarn.lock
Due: none

initial changes
  app/scripts/components/common/page-footer/index.tsx
  app/scripts/components/common/page-footer/page-footer.scss
  app/scripts/styles/_veda-ui-theme-vars.scss
Due: type-check, eslint, stylelint

Clean up
  .release-it.js
Due: eslint, stylelint

Add what's changed
  .release-it.js
Due: eslint, stylelint

Replace root.render in useThemedControl with React Portal
  app/scripts/components/common/map/controls/aoi/aoi-control.tsx
  app/scripts/components/common/map/controls/coords.tsx
  app/scripts/components/common/map/controls/hooks/use-themed-control.tsx
  app/scripts/components/common/map/controls/map-options/index.tsx
  app/scripts/components/exploration/components/map/analysis-message-control.tsx
  app/scripts/components/exploration/components/map/tour-control.tsx
Due: type-check, eslint, stylelint

Factor in prefix(detail) case
  .release-it.js
Due: eslint, stylelint

ci: release log for github (#1413)
  .release-it.js
  .release-it.json
  package.json
  yarn.lock
Due: eslint, stylelint

added back prop documentation
  app/scripts/components/common/card/index.tsx
Due: type-check, eslint, stylelint

Remove unnecessary type casting
  app/scripts/components/common/map/style-generators/basemap.tsx
Due: type-check, eslint, stylelint

Avoid type casting, mark metadata optional
  app/scripts/components/common/map/style-generators/basemap.tsx
Due: type-check, eslint, stylelint

Update drawId type
  app/scripts/components/common/map/utils.ts
Due: type-check, eslint, stylelint

fix(card): change filename to reflect component name
  app/scripts/components/common/card-sources-list.tsx
  app/scripts/components/common/featured-slider-section.tsx
  app/scripts/components/stories/hub/hub-content.tsx
Due: type-check, eslint, stylelint

refactor(card): Remove link properties from CardSourcesList
  app/scripts/components/common/card-sources.tsx
  app/scripts/components/common/featured-slider-section.tsx
  app/scripts/components/stories/hub/hub-content.tsx
Due: type-check, eslint, stylelint

chore: Format Data Catalog files (no other changes)
  app/scripts/components/common/catalog/catalog-content.tsx
  app/scripts/components/data-catalog/container.tsx
Due: type-check, eslint, stylelint

updating contact us color and sizing
  app/scripts/components/common/page-header/page-header.scss
  app/scripts/styles/_veda-ui-theme-vars.scss
Due: none

refactor: remove linkProperties usage from Stories Hub
  app/scripts/components/stories/hub/container.tsx
  app/scripts/components/stories/hub/hub-content.tsx
Due: type-check, eslint, stylelint

fix: Reinstate onSourceClick
  app/scripts/components/common/card-sources-list.tsx
  app/scripts/components/stories/hub/hub-content.tsx
Due: type-check, eslint, stylelint

remove "to" prop that is passed into each diff card
  app/scripts/components/common/card/index.tsx
Due: type-check, eslint, stylelint

Refactor to remove unnecessary wrapper component
  app/scripts/components/common/map/controls/aoi/aoi-control.tsx
  app/scripts/components/exploration/components/map/index.tsx
Due: type-check, eslint, stylelint

Extract draw tools into separate component
  app/scripts/components/common/map/controls/aoi/aoi-control.tsx
  app/scripts/components/common/map/controls/aoi/draw-tools.tsx
Due: type-check, eslint, stylelint

Catch uncaught exception in onStyleUpdate
  app/scripts/components/exploration/components/map/index.tsx
Due: type-check, eslint, stylelint

Use fitBounds instead of flyTo after upgrading mapbox-gl
  app/scripts/components/exploration/components/map/analysis-message-control.tsx
  app/scripts/components/exploration/components/map/aoi-layer.tsx
Due: type-check, eslint, stylelint

Change filter action type, add missing action when clicking on a topic pill
  app/scripts/components/stories/hub/hub-content.tsx
Due: type-check, eslint, stylelint

run yarn
  yarn.lock
Due: none

fix: run yarnlock to make working dir clean (#1426)
  yarn.lock
Due: none

chore(release): update to version v5.11.7
  package.json
Due: none

feat: feature test
  README.md
Due: none

fix: remove ci option
  .github/workflows/release.yml
Due: none

Do not get the latest tag from all refs
  .release-it.js
Due: eslint, stylelint

chore(release): update to version v5.12.0
  package.json
Due: none

chore(release): update to version v5.11.8
  package.json
Due: none

chore(release): cut minor version manually
  package.json
Due: none
