Repository NASA-IMPACT/veda-ui: changes, and which lefthook commands are due for each by the changed paths.
All: type-check, eslint, stylelint

type-check:
  run: yarn ts-check

eslint:
  run: yarn eslint {staged_files}

stylelint:
  run: yarn lint:style {staged_files}

Handle error, format titiler params
  app/scripts/components/exploration/analysis-data.ts
Due: type-check, eslint, stylelint

Resort the cmr data
  app/scripts/components/exploration/analysis-data.ts
Due: type-check, eslint, stylelint

Fix test
  app/scripts/components/exploration/analysis-data.spec.ts
Due: type-check, eslint, stylelint

Drop flag for formatting, use returned data shape to determine the parse logic
  app/scripts/components/exploration/analysis-data.spec.ts
  app/scripts/components/exploration/analysis-data.ts
Due: type-check, eslint, stylelint

Fix test, Tweak the loading message for cmr data
  app/scripts/components/exploration/analysis-data.spec.ts
  app/scripts/components/exploration/analysis-data.ts
  app/scripts/components/exploration/components/datasets/dataset-list-item.tsx
Due: type-check, eslint, stylelint

Move cmr endpoint to env var
  .env
  app/scripts/components/exploration/analysis-data.ts
  app/scripts/components/exploration/hooks/use-analysis-data-request.ts
  app/scripts/context/veda-ui-provider.tsx
  app/scripts/main.tsx
Due: type-check, eslint, stylelint

feat: time series support for CMR data (#1747)
  .env
  app/scripts/components/exploration/analysis-data.spec.ts
  app/scripts/components/exploration/analysis-data.ts
  app/scripts/components/exploration/atoms/hooks.ts
  app/scripts/components/exploration/atoms/timeline.ts
  app/scripts/components/exploration/components/chart-popover.tsx
  app/scripts/components/exploration/components/datasets/analysis-metrics.tsx
  app/scripts/components/exploration/components/datasets/dataset-chart.tsx
  app/scripts/components/exploration/components/datasets/dataset-list-item.tsx
  app/scripts/components/exploration/components/datasets/layer-chart-analysis-menu.tsx
  app/scripts/components/exploration/hooks/use-analysis-data-request.ts
  app/scripts/components/exploration/types.d.ts.ts
  app/scripts/context/veda-ui-provider.tsx
  app/scripts/main.tsx
Due: type-check, eslint, stylelint

Do not show configurable colormap for wms, wmts data
  app/scripts/components/exploration/components/datasets/data-layer-card.tsx
Due: type-check, eslint, stylelint

Deprecate configurable colormap variable
  .env
  app/scripts/components/exploration/components/datasets/data-layer-card.tsx
Due: type-check, eslint, stylelint

Add wms dataset with linear colormap for test
  mock/datasets/gedi-agb-grid-v2.1.data.mdx
Due: none

fix: Add !showLoadingConfigurableCmapSkeleton condition to showNonConfigurableCmap to make sure the loading skeleton and non-configurable colormap don't show up at the same time
  app/scripts/components/exploration/components/datasets/data-layer-card.tsx
Due: type-check, eslint, stylelint

fix: Do not show configurable colormap for wms, wmts datasets (#1769)
  .env
  app/scripts/components/exploration/components/datasets/data-layer-card.tsx
  mock/datasets/gedi-agb-grid-v2.1.data.mdx
Due: type-check, eslint, stylelint

chore(release): update to version v6.10.0
  package.json
Due: none

Remove the condition for render param bidx being not array
  app/scripts/components/exploration/data-utils.ts
Due: type-check, eslint, stylelint

Remove sourceParams from nightlight data
  mock/datasets/nighttime-lights.data.mdx
Due: none

Deprecate mosaic endpoint
  app/scripts/components/common/map/style-generators/raster-timeseries.tsx
Due: type-check, eslint, stylelint

chore: Develop custom layer example (#1757)
  app/scripts/components/common/map/hooks/use-layer-interaction.ts
  app/scripts/components/sandbox/customlayer/index.tsx
  static/public/geo-data/sample.geojson
Due: type-check, eslint, stylelint

fix: render extension logic (#1772)
  app/scripts/components/exploration/data-utils.ts
  mock/datasets/nighttime-lights.data.mdx
Due: type-check, eslint, stylelint

chore(release): update to version v6.10.1
  package.json
Due: none

chore: Deprecate mosaic endpoint (#1773)
  app/scripts/components/common/map/style-generators/raster-timeseries.tsx
Due: type-check, eslint, stylelint

Add requireCommitsFail attribute
  .release-it.js
Due: eslint, stylelint

Use init hook to signal github action about no commit
  .github/workflows/release.yml
  .release-it.js
Due: eslint, stylelint

Use no commit output from release process properly
  .github/workflows/release.yml
Due: none

ci: Send warning when release terminated with no commit (#1779)
  .github/workflows/release.yml
  .release-it.js
Due: eslint, stylelint

feat: draft dynamic layer/date selectors for the MapBlock
  app/scripts/components/common/blocks/block-map.tsx
  mock/stories/air-quality-and-covid-19.stories.mdx
Due: type-check, eslint, stylelint

chore(release): update to version v6.10.2
  package.json
Due: none

wip - breakdown ea
  app/scripts/components/common/map/controls/aoi/aoi-control.tsx
  app/scripts/components/exploration/components/map/index.tsx
  app/scripts/components/exploration/hooks/use-analysis-data-request.ts
  app/scripts/components/sandbox/legacy/exploration-map/index.js
Due: type-check, eslint, stylelint

Use timeseries analysis
  app/scripts/components/exploration/analysis-data.ts
  app/scripts/components/exploration/hooks/use-analysis-data-request.ts
  app/scripts/components/sandbox/legacy/exploration-map/index.js
  app/scripts/components/sandbox/line-graph/index.tsx
Due: type-check, eslint, stylelint

pass in base and compare datalayer instead
  app/scripts/components/common/blocks/block-map.tsx
  app/scripts/components/common/blocks/lazy-components.js
Due: type-check, eslint, stylelint

remove layers prop
  app/scripts/components/common/blocks/block-map.tsx
Due: type-check, eslint, stylelint

Pin down react compare image
  package.json
  yarn.lock
Due: none

fix: Pin down react compare image (#1785)
  package.json
  yarn.lock
Due: none

data layer card
  app/scripts/components/exploration/components/datasets/data-layer-card.tsx
  app/scripts/components/exploration/components/datasets/dataset-list-item.tsx
  app/scripts/components/sandbox/legacy/exploration-map/index.js
Due: type-check, eslint, stylelint

Chang settings of the map
  app/scripts/components/sandbox/legacy/exploration-map/index.js
Due: eslint, stylelint

add doc tags, clean
  app/scripts/components/common/catalog/catalog-legacy/catalog-content.tsx
  app/scripts/components/common/catalog/catalog-legacy/catalog-tags.tsx
  app/scripts/components/common/catalog/catalog-legacy/filter-tag.tsx
  app/scripts/components/common/catalog/catalog-legacy/filters-control.tsx
  app/scripts/components/common/form/checkable-filter-legacy/index.tsx
  app/scripts/components/common/layout-root/index.tsx
  app/scripts/components/common/layout-root/useSlidingStickyHeaderProps.ts
  app/scripts/components/common/page-footer-legacy.tsx
  app/scripts/components/common/page-header-legacy/index.tsx
  app/scripts/components/common/page-header-legacy/logo.tsx
  app/scripts/components/common/page-header-legacy/nav-menu-item.tsx
  app/scripts/components/data-catalog/container.tsx
  app/scripts/components/exploration/container.tsx
  app/scripts/components/stories/hub/container.tsx
  app/scripts/components/uhoh/fatal-error.js
  app/scripts/context/layout-root-context-provider.tsx
  app/scripts/context/theme-provider.tsx
  app/scripts/data-layer/datasets.tsx
  app/scripts/libs/hooks.ts
  app/scripts/main.tsx
  app/scripts/types/veda.ts
  docs/development/DEVELOPMENT.md
  parcel-resolver-veda/index.d.ts
Due: type-check, eslint, stylelint

more cleaning and update doc
  app/scripts/components/common/card/classic.tsx
  app/scripts/components/common/card/cover.tsx
  app/scripts/components/common/card/featured.tsx
  app/scripts/components/common/card/horizontal-info.tsx
  app/scripts/components/common/card/index.tsx
  app/scripts/components/common/card/styles.tsx
  app/scripts/components/common/catalog/catalog-content.tsx
  app/scripts/components/common/catalog/catalog-legacy/catalog-content.tsx
  app/scripts/components/common/dataset-classification.tsx
  app/scripts/components/common/icons-legacy/calendar-minus.tsx
  app/scripts/components/common/icons-legacy/calendar-plus.tsx
  app/scripts/components/common/icons-legacy/dataset-layers.tsx
  app/scripts/components/common/icons-legacy/flask.tsx
  app/scripts/components/common/icons-legacy/magnifier-minus.tsx
  app/scripts/components/common/icons-legacy/magnifier-plus.tsx
  app/scripts/components/common/icons-legacy/medal.tsx
  app/scripts/components/common/icons-legacy/progress-tick.tsx
  app/scripts/components/common/item-truncate-count.tsx
  app/scripts/components/exploration/components/datasets/data-layer-card.tsx
  app/scripts/components/exploration/components/layer-info-modal.tsx
  app/scripts/components/exploration/components/timeline/timeline-controls.tsx
  app/scripts/components/exploration/components/timeline/timeline-zoom-controls.tsx
  docs/development/DEVELOPMENT.md
Due: type-check, eslint, stylelint

Test out yarn workspace
  package.json
  packages/examples/package.json
  packages/examples/src/index.html
  packages/examples/src/index.tsx
  packages/storybook/.storybook/main.ts
  packages/storybook/.storybook/preview.ts
  packages/storybook/package.json
  packages/storybook/src/Button.stories.ts
  yarn.lock
Due: type-check, eslint, stylelint

fix imports
  app/scripts/components/exploration/components/timeline/timeline-controls.tsx
  app/scripts/components/sandbox/legacy/typography/index.js
Due: type-check, eslint, stylelint

Fix aoi selection
  app/scripts/components/sandbox/legacy/exploration-map/index.js
Due: eslint, stylelint

chore(release): update to version v6.10.3
  package.json
Due: none

Path conditions:
  type-check: any of: *.{ts,tsx}
  eslint: any of: *.{js,ts,jsx,tsx}
  stylelint: any of: *.{js,ts,jsx,tsx}
