Repository NASA-IMPACT/veda-ui: changes, and which lefthook commands are due for each by the changed paths.
All: type-check, eslint, stylelint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    type-check:
      glob: '*.{ts,tsx}'
      run: yarn ts-check
    eslint:
      glob: '*.{js,ts,jsx,tsx}'
      run: yarn eslint {staged_files}
    stylelint:
      glob: '*.{js,ts,jsx,tsx}'
      run: yarn lint:style {staged_files}

fix style linting command for lefthook
  lefthook.yml
Due: none

Use parser option for release log
  .release-it.json
Due: none

Clarify comment on fitBounds vs. flyTo
  app/scripts/components/exploration/components/map/analysis-message-control.tsx
  app/scripts/components/exploration/components/map/aoi-layer.tsx
Due: type-check, eslint, stylelint

Use USWDS buttons in AOI Control
  app/scripts/components/common/map/controls/aoi/aoi-control.tsx
Due: type-check, eslint, stylelint

Use custom styles for MapboxDraw layers
  app/scripts/components/common/map/controls/aoi/aoi-control.tsx
  app/scripts/components/common/map/controls/hooks/use-draw-control.ts
Due: type-check, eslint, stylelint

turning off V2 implementations
  .env
Due: none

Remove "unwanted" keywords
  mock/about.mdx
Due: none

add back logo-container styling
  .env
  app/scripts/components/common/page-header/logo-container/logo-container.scss
Due: none

Get rid of layout root dependency from page header
  app/scripts/components/common/page-header/index.tsx
  app/scripts/components/common/page-header/nav/nav-item-cta.tsx
  app/scripts/context/veda-ui-provider.tsx
  app/scripts/index.ts
  app/scripts/utils/use-feedback-modal.tsx
Due: type-check, eslint, stylelint

Get rid of veda dependency from footer
  app/scripts/components/common/layout-root/index.tsx
  app/scripts/components/common/page-footer/footer.test.tsx
  app/scripts/components/common/page-footer/index.tsx
  app/scripts/index.ts
Due: type-check, eslint, stylelint

chore: swap husky with lefthook (#1384)
  .husky/pre-commit
  .husky/pre-push
  .npmignore
  lefthook.yml
  lint-staged.config.js
  package.json
  yarn.lock
Due: eslint, stylelint

isolate change to just hook and rename hook
  app/scripts/components/common/page-header/nav/nav-item-cta.tsx
  app/scripts/context/veda-ui-provider.tsx
  app/scripts/utils/use-display.tsx
  app/scripts/utils/use-feedback-modal.tsx
Due: type-check, eslint, stylelint

Update docs
  docs/development/REGISTRY.md
  docs/development/THEMING_GUIDE.md
  package.json
Due: none

5.11.5-1391.0
  package.json
Due: none

5.11.5-1391.1
  package.json
Due: none

Upgrade mapbox-gl to ^3.9.3 (from 2.15.0)
  package.json
  yarn.lock
Due: none

Update typings after upgrading mapbox-gl > 3.5
  app/scripts/components/common/blocks/block-map.tsx
  app/scripts/components/common/map/controls/map-options/projections.ts
  app/scripts/components/common/map/controls/map-options/types.ts
  app/scripts/components/common/map/map-component.tsx
  app/scripts/components/common/map/style-generators/basemap.tsx
  app/scripts/components/common/map/style-generators/raster-paint-layer.tsx
  app/scripts/components/common/map/style-generators/raster-timeseries.tsx
  app/scripts/components/common/map/style-generators/vector-timeseries.tsx
  app/scripts/components/common/map/styles.tsx
  app/scripts/components/common/map/types.d.ts
  app/scripts/components/common/map/utils.ts
  app/scripts/components/exploration/components/map/analysis-message-control.tsx
  app/scripts/components/exploration/components/map/index.tsx
  app/scripts/types/veda.ts
Due: type-check, eslint, stylelint

5.11.5-1391.2
  package.json
Due: none

Update doc
  docs/development/REGISTRY.md
Due: none

refactor(card): Remove link properties from CardSourcesList
  app/scripts/components/common/card-sources.tsx
  app/scripts/components/common/featured-slider-section.tsx
  app/scripts/components/stories/hub/hub-content.tsx
Due: type-check, eslint, stylelint

fix(card): change filename to reflect component name
  app/scripts/components/common/card-sources-list.tsx
  app/scripts/components/common/featured-slider-section.tsx
  app/scripts/components/stories/hub/hub-content.tsx
Due: type-check, eslint, stylelint

fix: Reinstate onSourceClick
  app/scripts/components/common/card-sources-list.tsx
  app/scripts/components/stories/hub/hub-content.tsx
Due: type-check, eslint, stylelint

fix: Isolate changes to just hook and rename for general use (#1399)
  app/scripts/components/common/page-header/nav/nav-item-cta.tsx
  app/scripts/context/veda-ui-provider.tsx
  app/scripts/utils/use-display.tsx
  app/scripts/utils/use-feedback-modal.tsx
Due: type-check, eslint, stylelint

chore: Remove veda dependency (#1398)
  app/scripts/components/common/layout-root/index.tsx
  app/scripts/components/common/page-footer/footer.test.tsx
  app/scripts/components/common/page-footer/index.tsx
  app/scripts/components/common/page-header/index.tsx
  app/scripts/components/common/page-header/nav/nav-item-cta.tsx
  app/scripts/index.ts
  app/scripts/utils/use-display.tsx
Due: type-check, eslint, stylelint

Update projection options in parcel-resolver-veda
  parcel-resolver-veda/index.d.ts
Due: type-check, eslint, stylelint

Fix type for projection parallels
  app/scripts/components/common/map/controls/map-options/projections.ts
  app/scripts/types/veda.ts
  parcel-resolver-veda/index.d.ts
Due: type-check, eslint, stylelint

refactor: remove linkProperties usage from Stories Hub
  app/scripts/components/stories/hub/container.tsx
  app/scripts/components/stories/hub/hub-content.tsx
Due: type-check, eslint, stylelint

Update tooltips to indicate a new AOI will be created
  app/scripts/components/common/map/controls/aoi/aoi-control.tsx
  app/scripts/components/common/map/controls/aoi/preset-selector.tsx
  test/playwright/tests/exploreAoi.spec.ts
Due: type-check, eslint, stylelint

Hide toolbar when an AOI is created
  app/scripts/components/common/map/controls/aoi/aoi-control.tsx
Due: type-check, eslint, stylelint

break out cards to be explicit of card types
  app/scripts/components/common/card/classic.tsx
  app/scripts/components/common/card/cover.tsx
  app/scripts/components/common/card/external-link-flag.tsx
  app/scripts/components/common/card/featured.tsx
  app/scripts/components/common/card/horizontal-info-card.tsx
  app/scripts/components/common/card/index-legacy.tsx
  app/scripts/components/common/card/index.tsx
  app/scripts/components/common/card/styles.tsx
  app/scripts/components/common/catalog/catalog-card.tsx
  app/scripts/components/common/catalog/catalog-content.tsx
  app/scripts/components/common/catalog/index.tsx
  app/scripts/types/veda.ts
Due: type-check, eslint, stylelint

Update cardType props passing in to be enum type
  app/scripts/components/common/catalog/catalog-card.tsx
  app/scripts/components/common/featured-slider-section.tsx
  app/scripts/components/common/related-content.tsx
  app/scripts/components/home/featured-stories.tsx
  app/scripts/components/stories/hub/hub-content.tsx
Due: type-check, eslint, stylelint

clean props and add note to controller file
  app/scripts/components/common/card/classic.tsx
  app/scripts/components/common/card/cover.tsx
  app/scripts/components/common/card/featured.tsx
  app/scripts/components/common/card/index.tsx
Due: type-check, eslint, stylelint

update notes
  app/scripts/components/common/card/index.tsx
Due: type-check, eslint, stylelint

add some styles back to index because of instance use and update notes
  app/scripts/components/common/card/index-legacy.tsx
  app/scripts/components/common/card/index.tsx
  app/scripts/components/common/card/styles.tsx
Due: type-check, eslint, stylelint

move ExternalLinkFlag back into controller because of instance dependency...
  app/scripts/components/common/card/classic.tsx
  app/scripts/components/common/card/cover.tsx
  app/scripts/components/common/card/external-link-flag.tsx
  app/scripts/components/common/card/featured.tsx
  app/scripts/components/common/card/index.tsx
Due: type-check, eslint, stylelint

add default
  app/scripts/components/common/card/index.tsx
Due: type-check, eslint, stylelint

Removed old legacy file and update one filename
  app/scripts/components/common/card/horizontal-info.tsx
  app/scripts/components/common/card/index-legacy.tsx
Due: type-check, eslint, stylelint

update import change...
  app/scripts/components/common/card/index.tsx
Due: type-check, eslint, stylelint

move cardItem style
  app/scripts/components/common/card/classic.tsx
  app/scripts/components/common/card/cover.tsx
  app/scripts/components/common/card/featured.tsx
  app/scripts/components/common/card/horizontal-info.tsx
  app/scripts/components/common/card/styles.tsx
Due: type-check, eslint, stylelint

chore: Format Data Catalog files (no other changes)
  app/scripts/components/common/catalog/catalog-content.tsx
  app/scripts/components/data-catalog/container.tsx
Due: type-check, eslint, stylelint
