Repository NASA-IMPACT/veda-ui: changes, and which lefthook commands are due for each by the changed paths.
All: type-check, eslint, stylelint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    type-check:
      glob: '*.{ts,tsx}'
      run: yarn ts-check
    eslint:
      glob: '*.{js,ts,jsx,tsx}'
      run: yarn eslint {staged_files}
    stylelint:
      glob: '*.{js,ts,jsx,tsx}'
      run: yarn lint:style {staged_files}

chore: fix path to generate mock data for playwright test
  test/playwright/generateTestData.js
Due: eslint, stylelint

Fix rescale not working
  app/scripts/components/common/map/style-generators/raster-paint-layer.tsx
Due: type-check, eslint, stylelint

Fix external link
  app/scripts/context/veda-ui-provider.tsx
Due: type-check, eslint, stylelint

chore: Fix React warning about redundant id, wrong html attirbute (#1800)
  app/scripts/components/common/page-header-legacy/nav-menu-item.tsx
  app/scripts/context/veda-ui-provider.tsx
Due: type-check, eslint, stylelint

Modify the example to reflect plugin architecture
  app/scripts/components/sandbox/exploration/layer-card.js
Due: eslint, stylelint

fix: enhance Vite config, add StoryBook providers, add Base map example
  core/src/stories/basemap-example.stories.tsx
  core/src/storybook-providers.tsx
  core/utils/stream-shim.js
  core/vite.config.ts
Due: type-check, eslint, stylelint

feat: add basic controls
  core/src/stories/basemap-example.stories.tsx
Due: type-check, eslint, stylelint

fix: make map occupy full height
  core/src/stories/basemap-example.stories.tsx
Due: type-check, eslint, stylelint

fix: remove usage of process.env, move geoData path to VedaUIProvider
  app/scripts/components/common/map/controls/hooks/use-preset-aoi.tsx
  app/scripts/context/veda-ui-provider.tsx
  app/scripts/main.tsx
  core/vite.config.ts
Due: type-check, eslint, stylelint

feat: add AOI control
  core/src/stories/basemap-example.stories.tsx
Due: type-check, eslint, stylelint

fix: add geo data path to storybook context
  core/src/storybook-providers.tsx
Due: type-check, eslint, stylelint

fix: install core deps on CI workflow
  .github/workflows/checks.yml
Due: none

push up initial compound system with timeline
  app/scripts/components/exploration/atoms/hooks.ts
  app/scripts/components/exploration/components/datasets/data-layer-card.tsx
  app/scripts/components/exploration/components/datasets/dataset-list-item.tsx
  app/scripts/components/exploration/components/timeline/timeline.tsx
  app/scripts/components/exploration/hooks/use-analysis-data-request.ts
  app/scripts/components/exploration/index.tsx
  app/scripts/components/sandbox/exploration/index.js
  app/scripts/components/sandbox/exploration/layer-card.js
  app/scripts/components/sandbox/index.js
Due: type-check, eslint, stylelint

organize
  app/scripts/components/exploration/components/datasets/dataset-list-item.tsx
  app/scripts/components/exploration/compound/hooks.ts
  app/scripts/components/exploration/compound/index.tsx
  app/scripts/components/exploration/index.tsx
  app/scripts/components/sandbox/exploration/index.js
  app/scripts/components/sandbox/exploration/layer-card.js
  app/scripts/libs/components.ts
  app/scripts/libs/index.ts
Due: type-check, eslint, stylelint

add another external example
  app/scripts/components/exploration/components/timeline/timeline.tsx
  app/scripts/components/sandbox/exploration/compound/external-info-table-example.tsx
  app/scripts/components/sandbox/exploration/compound/index.js
Due: type-check, eslint, stylelint

title change
  app/scripts/components/sandbox/index.js
Due: eslint, stylelint

set external datasets in larger hook
  app/scripts/components/exploration/components/datasets/data-layer-card.tsx
  app/scripts/components/exploration/components/datasets/dataset-list-item.tsx
  app/scripts/components/exploration/components/datasets/dataset-list.tsx
  app/scripts/components/exploration/components/timeline/timeline.tsx
  app/scripts/components/exploration/compound/hooks.ts
  app/scripts/components/sandbox/exploration/compound/external-layer-card.js
  app/scripts/components/sandbox/exploration/compound/index.js
  app/scripts/components/sandbox/exploration/index.js
  app/scripts/components/sandbox/index.js
Due: type-check, eslint, stylelint

remove commented out component
  app/scripts/components/exploration/components/datasets/data-layer-card.tsx
Due: type-check, eslint, stylelint

Update the example with required spec
  app/scripts/components/sandbox/exploration/layer-card.js
Due: eslint, stylelint

Add a quick exmaple of using data layer card
  app/scripts/components/exploration/components/datasets/colormap-options.tsx
  app/scripts/components/exploration/components/datasets/data-layer-card-container.tsx
  app/scripts/components/exploration/components/datasets/data-layer-card-presentational.tsx
  app/scripts/components/exploration/components/datasets/data-layer-card.tsx
  app/scripts/components/exploration/components/datasets/layer-options-menu.tsx
  app/scripts/components/sandbox/index.js
  app/scripts/components/sandbox/mock-data.js
  app/scripts/components/sandbox/plugins/data-layer-card.tsx
Due: type-check, eslint, stylelint

Add a communication receiver using plugin-communicator
  app/scripts/components/sandbox/index.js
  app/scripts/components/sandbox/plugins/communication-receiver.tsx
  app/scripts/components/sandbox/plugins/data-layer-card.tsx
  app/scripts/components/sandbox/plugins/plugin-communication.js
Due: type-check, eslint, stylelint

Update example to hook up with map
  app/scripts/components/sandbox/index.js
  app/scripts/components/sandbox/plugins/communication-receiver.tsx
  app/scripts/components/sandbox/plugins/data-layer-card.tsx
  app/scripts/components/sandbox/plugins/map.tsx
Due: type-check, eslint, stylelint

Update example of component with atom
  app/scripts/components/sandbox/plugins/communication-receiver.tsx
  app/scripts/components/sandbox/plugins/data-layer-card-with-atom.tsx
Due: type-check, eslint, stylelint

Set up bidirectional communication between map and layercardwithatom
  app/scripts/components/sandbox/plugins/communication-receiver.tsx
  app/scripts/components/sandbox/plugins/data-layer-card-with-atom.tsx
Due: type-check, eslint, stylelint

types/node ..?
  package.json
  yarn.lock
Due: none

Move modal to inside of layer info card, simplify prop
  app/scripts/components/exploration/components/datasets/data-layer-card-container.tsx
  app/scripts/components/exploration/components/datasets/data-layer-card-presentational.tsx
  app/scripts/components/exploration/components/datasets/data-layer-card.tsx
  app/scripts/components/exploration/components/datasets/dataset-list-item.tsx
Due: type-check, eslint, stylelint

chore(release): update to version v6.11.1
  package.json
Due: none

Export necessary components
  app/scripts/libs/components.ts
  app/scripts/libs/index.ts
Due: type-check, eslint, stylelint

Move Link component to container level so data layer card doesn't have a dependency on it
  app/scripts/components/exploration/components/datasets/data-layer-card-container.tsx
  app/scripts/components/exploration/components/datasets/data-layer-card-presentational.tsx
  app/scripts/components/exploration/components/layer-info-modal.tsx
Due: type-check, eslint, stylelint

Remove vedaui provider dependency from map related components
  app/scripts/components/common/blocks/block-map.tsx
  app/scripts/components/common/blocks/scrollytelling/index.tsx
  app/scripts/components/common/map/map-component.tsx
  app/scripts/components/common/map/maps.tsx
  app/scripts/components/common/map/style-generators/basemap.tsx
  app/scripts/components/exploration/components/datasets/data-layer-card-container.tsx
  app/scripts/components/exploration/components/datasets/data-layer-card-presentational.tsx
  app/scripts/components/exploration/components/map/index.tsx
  app/scripts/components/exploration/components/map/layer.tsx
Due: type-check, eslint, stylelint

Add Basemap to export
  app/scripts/libs/components.ts
  app/scripts/libs/index.ts
Due: type-check, eslint, stylelint

Export compartments of data layer card
  app/scripts/components/exploration/components/datasets/data-layer-card-container.tsx
  app/scripts/components/exploration/components/datasets/data-layer-card-presentational.tsx
  app/scripts/components/exploration/components/layer-info-modal.tsx
  app/scripts/libs/components.ts
  app/scripts/libs/index.ts
Due: type-check, eslint, stylelint

Add an example of using compartments
  app/scripts/components/exploration/components/datasets/data-layer-card-container.tsx
  app/scripts/components/sandbox/plugins/data-layer-card.tsx
Due: type-check, eslint, stylelint

Allow rescale values outside the provided range
  app/scripts/components/exploration/components/datasets/colorRangeSlider/index.tsx
  app/scripts/components/exploration/components/datasets/colorRangeSlider/utils.tsx
Due: type-check, eslint, stylelint

Revert errors to show errors
  app/scripts/components/exploration/components/datasets/colorRangeSlider/index.tsx
  app/scripts/components/exploration/components/datasets/colorRangeSlider/utils.tsx
Due: type-check, eslint, stylelint

Fix tests for colormap rescale
  app/scripts/components/exploration/components/datasets/colorRangeSlider/colorRangeSlider.spec.tsx
Due: type-check, eslint, stylelint

Add colormap name in mock dataset
  mock/datasets/data-from-ghg.data.mdx
Due: none

Fix max rescale input
  app/scripts/components/exploration/components/datasets/colorRangeSlider/index.tsx
Due: type-check, eslint, stylelint

chore: validate input issues on mount
  app/scripts/components/exploration/components/datasets/colorRangeSlider/index.tsx
Due: type-check, eslint, stylelint

chore: update util, fix test
  app/scripts/components/exploration/components/datasets/colorRangeSlider/colorRangeSlider.spec.tsx
  app/scripts/components/exploration/components/datasets/colorRangeSlider/index.tsx
  app/scripts/components/exploration/components/datasets/colorRangeSlider/utils.tsx
Due: type-check, eslint, stylelint
