Repository NASA-IMPACT/veda-ui: changes, and which lefthook commands are due for each by the changed paths.
All: type-check, eslint, stylelint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    type-check:
      glob: '*.{ts,tsx}'
      run: yarn ts-check
    eslint:
      glob: '*.{js,ts,jsx,tsx}'
      run: yarn eslint {staged_files}
    stylelint:
      glob: '*.{js,ts,jsx,tsx}'
      run: yarn lint:style {staged_files}

Separate out legacy global style
  app/scripts/components/common/catalog/catalog-content.tsx
  app/scripts/components/exploration/index.tsx
  app/scripts/components/stories/hub/hub-content.tsx
  app/scripts/styles/legacy-global-styles.js
  app/scripts/styles/page.js
  app/scripts/styles/theme.ts
Due: type-check, eslint, stylelint

Move Legacy global style
  app/scripts/styles/legacy-global-styles.js
Due: eslint, stylelint

add global style block for modal
  app/scripts/components/exploration/components/dataset-selector-modal/index.tsx
  app/scripts/components/exploration/index.tsx
Due: type-check, eslint, stylelint

Export legacy global style from ui module
  app/scripts/index.ts
  app/scripts/main.tsx
  app/scripts/styles/theme.ts
Due: type-check, eslint, stylelint

Some mods for local testing of oco3
  .env
  docs/development/SETUP.md
  mock/datasets/losangeles_banner.png
  mock/datasets/oco3.data.mdx
Due: none

Add widget containers for full page and full screen view
  app/scripts/components/common/uswds/icon.tsx
  app/scripts/components/common/uswds/index.tsx
  app/scripts/components/common/widget/fullpage-modal.tsx
  app/scripts/components/common/widget/fullscreen-api.tsx
  app/scripts/components/common/widget/header.tsx
  app/scripts/components/common/widget/index.ts
  app/scripts/components/sandbox/index.js
Due: type-check, eslint, stylelint

Add Figure and Map to widget example
  app/scripts/components/sandbox/index.js
Due: eslint, stylelint

Make widget header button responsive to container width
  app/scripts/components/common/widget/header.tsx
  app/scripts/components/sandbox/index.js
Due: type-check, eslint, stylelint

fix: Move UI library seed global style to component level, export veda specific global style to be used with UIlibrary provider (#1502)
  app/scripts/components/common/catalog/catalog-content.tsx
  app/scripts/components/datasets/s-overview/index.tsx
  app/scripts/components/exploration/components/dataset-selector-modal/index.tsx
  app/scripts/components/exploration/index.tsx
  app/scripts/components/stories/hub/hub-content.tsx
  app/scripts/index.ts
  app/scripts/main.tsx
  app/scripts/styles/legacy-global-styles.js
  app/scripts/styles/page.js
  app/scripts/styles/theme.ts
Due: type-check, eslint, stylelint

chore(release): update to version v6.0.0
  package.json
Due: none

desktop styling
  app/scripts/components/common/catalog/catalog-tags.tsx
  app/scripts/components/common/catalog/filters-control.tsx
  app/scripts/components/common/form/checkable-filter/index.tsx
  app/scripts/components/common/uswds/accordion.tsx
  app/scripts/components/common/uswds/checkbox.tsx
Due: type-check, eslint, stylelint

search
  app/scripts/components/common/uswds/search.tsx
Due: type-check, eslint, stylelint

correcting tag styles
  app/scripts/components/common/catalog/filter-tag.tsx
Due: type-check, eslint, stylelint

USWDS roll up file
  app/scripts/components/common/uswds/index.tsx
Due: type-check, eslint, stylelint

filter tags
  app/scripts/components/common/catalog/filter-tag.tsx
Due: type-check, eslint, stylelint

test commit
  app/scripts/components/common/catalog/filter-controls.scss
Due: none

Mobile implementation
  app/scripts/components/common/banner/index.tsx
  app/scripts/components/common/catalog/catalog-content.scss
  app/scripts/components/common/catalog/catalog-content.tsx
  app/scripts/components/common/catalog/catalog-tags.tsx
  app/scripts/components/common/catalog/filter-controls.scss
  app/scripts/components/common/catalog/filter-tag.tsx
  app/scripts/components/common/catalog/filters-controls/filter-controls.scss
  app/scripts/components/common/catalog/filters-controls/filters-control.tsx
  app/scripts/components/common/catalog/index.tsx
  app/scripts/components/common/uswds/index.tsx
Due: type-check, eslint, stylelint

correcting tag gap issue
  app/scripts/components/common/catalog/catalog-tags.tsx
  app/scripts/components/common/catalog/filter-tag.tsx
Due: type-check, eslint, stylelint

cleaning up css implementation
  app/scripts/components/common/catalog/catalog-content.scss
  app/scripts/components/common/catalog/catalog-content.tsx
  app/scripts/components/common/catalog/filters-controls/filter-controls.scss
  app/scripts/components/common/catalog/filters-controls/filters-control.tsx
  app/scripts/styles/_uswds-theme.scss
Due: type-check, eslint, stylelint

legacy implementation
  app/scripts/components/common/catalog/catalog-content.tsx
  app/scripts/components/common/catalog/catalog-legacy/catalog-content-legacy.tsx
  app/scripts/components/common/catalog/catalog-legacy/catalog-tags-legacy.tsx
  app/scripts/components/common/catalog/catalog-legacy/filter-tag-legacy.tsx
  app/scripts/components/common/catalog/catalog-legacy/filters-control-legacy.tsx
  app/scripts/components/common/catalog/index.tsx
  app/scripts/components/common/form/checkable-filter-legacy/index.tsx
  app/scripts/components/exploration/components/datasets/data-layer-card.tsx
  app/scripts/components/exploration/components/layer-info-modal.tsx
Due: type-check, eslint, stylelint

Remove comments
  app/scripts/components/common/widget/fullpage-modal.tsx
  app/scripts/components/common/widget/fullscreen-api.tsx
  app/scripts/components/common/widget/header.tsx
Due: type-check, eslint, stylelint

resolving merge conflicts
  app/scripts/components/common/catalog/catalog-content.tsx
  app/scripts/components/common/catalog/catalog-legacy/catalog-content-legacy.tsx
  app/scripts/components/exploration/components/dataset-selector-modal/index.tsx
Due: type-check, eslint, stylelint

moving styling to legacy
  app/scripts/components/common/catalog/catalog-content.tsx
  app/scripts/components/common/catalog/catalog-legacy/catalog-content-legacy.tsx
Due: type-check, eslint, stylelint

Check ts error
  app/scripts/components/common/blocks/index.tsx
Due: type-check, eslint, stylelint

Fix regex to include only related commits
  .release-it.js
Due: eslint, stylelint

adding spacing-5 updating naming
  app/scripts/components/common/page-footer/page-footer.scss
  app/scripts/components/common/page-header/logo-container/logo-container.scss
  app/scripts/components/common/page-header/page-header.scss
  app/scripts/styles/_veda-ui-theme-vars.scss
Due: none

implementing design feedback
  app/scripts/components/common/catalog/catalog-content.tsx
  app/scripts/components/common/catalog/filters-controls/filter-controls.scss
  app/scripts/components/common/catalog/filters-controls/filters-control.tsx
  app/scripts/components/common/form/checkable-filter/index.tsx
Due: type-check, eslint, stylelint

Find parent dataset using layer id for search
  app/scripts/components/common/catalog/prepare-datasets.ts
Due: type-check, eslint, stylelint

fix: Find parent dataset using layer id for search (#1526)
  app/scripts/components/common/catalog/prepare-datasets.ts
Due: type-check, eslint, stylelint

chore(release): update to version v6.1.0
  package.json
Due: none

always pass a range for titiler-cmr datetime parameter
  app/scripts/components/common/map/style-generators/cmr-timeseries.tsx
Due: type-check, eslint, stylelint

Move widgets into own sandbox page
  app/scripts/components/sandbox/index.js
  app/scripts/components/sandbox/widgets/index.tsx
Due: type-check, eslint, stylelint

send bands and assets as repeat args not comma separated arrays
  app/scripts/components/common/map/style-generators/raster-paint-layer.tsx
Due: type-check, eslint, stylelint

declare type
  app/scripts/components/common/map/style-generators/raster-paint-layer.tsx
Due: type-check, eslint, stylelint

Change a way of exporting default to work around parcel
  app/scripts/components/common/blocks/block-map.tsx
  app/scripts/components/common/catalog/catalog-content.tsx
  app/scripts/components/common/chart/block.tsx
  app/scripts/components/common/page-hero.tsx
  app/scripts/components/exploration/index.tsx
  app/scripts/context/react-query.tsx
  app/scripts/context/veda-ui-provider.tsx
  app/scripts/index.ts
  app/scripts/theme-provider.tsx
Due: type-check, eslint, stylelint

Use colormap from legend when no colormap is provided in sourceParams
  app/scripts/components/common/map/layer-legend.tsx
  app/scripts/components/exploration/components/datasets/data-layer-card.tsx
Due: type-check, eslint, stylelint

Split library exports into several files
  app/scripts/libs/atoms.ts
  app/scripts/libs/components.ts
  app/scripts/libs/enum.ts
  app/scripts/libs/hooks.ts
  app/scripts/libs/index.ts
  app/scripts/libs/mdx-components.ts
  app/scripts/libs/page-components.ts
  app/scripts/libs/types.ts
  app/scripts/libs/uswds-components.ts
  gulpfile.js
Due: type-check, eslint, stylelint

stringify parameters in two group
  app/scripts/components/common/map/style-generators/raster-paint-layer.tsx
Due: type-check, eslint, stylelint

Enforce function expression export style
  .eslintrc
  app/scripts/libs/components.ts
  app/scripts/libs/index.ts
Due: type-check, eslint, stylelint
