Repository NASA-IMPACT/veda-ui: changes, and which lefthook commands are due for each by the changed paths.
All: type-check, eslint, stylelint

type-check:
  run: yarn ts-check

eslint:
  run: yarn eslint {staged_files}

stylelint:
  run: yarn lint:style {staged_files}

refactor: remove obsolete tests, update normalizeDomain util to only be applied to the end interval, update TS type
  app/scripts/components/exploration/hooks/use-stac-metadata-data.spec.ts
  app/scripts/components/exploration/hooks/use-stac-metadata-datasets.ts
  app/scripts/components/exploration/types.d.ts.ts
Due: type-check, eslint, stylelint

chore: add storybook to gitignore
  .gitignore
Due: none

refactor: clean up storybook main config
  storybook/.storybook/main.ts
Due: type-check, eslint, stylelint

feat: uncomment colormap section and layer info modal in data layer card
  app/scripts/components/exploration/components/datasets/data-layer-card-presentational.tsx
Due: type-check, eslint, stylelint

fix: configure uswds-core include paths in storybook vite config
  storybook/vite.config.ts
Due: type-check, eslint, stylelint

fix: change Vite config to properly load USWDS code modules, rename files that use JSX syntax
  app/scripts/components/common/element-interactive.jsx
  app/scripts/components/common/figure.jsx
  storybook/vite.config.ts
Due: type-check, eslint, stylelint

chore(release): update to version v6.13.0
  package.json
Due: none

fix: resolve linting issues in storybook files
  storybook/src/stories/data-layer-card.stories.tsx
  storybook/src/stories/mock-data.js
Due: type-check, eslint, stylelint

initial timeline analysis setup in sandbox
  app/scripts/components/sandbox/index.js
  app/scripts/components/sandbox/legacy/exploration/mock-data.js
  app/scripts/components/sandbox/legacy/exploration/timeline-analysis/external-layer-card.js
  app/scripts/components/sandbox/legacy/exploration/timeline-analysis/index.js
Due: eslint, stylelint

fix: update vite config to properly load USWDS (#1843)
  app/scripts/components/common/element-interactive.jsx
  app/scripts/components/common/figure.jsx
  storybook/src/stories/data-layer-card.stories.tsx
  storybook/src/stories/mock-data.js
  storybook/vite.config.ts
Due: type-check, eslint, stylelint

feat: add SCSS preprocessor configuration to Storybook Vite config
  storybook/vite.config.ts
Due: type-check, eslint, stylelint

feat: add simple colormap options story for testing preprocessor
  storybook/src/stories/components/exploration/components/datasets/colormap-options.stories.tsx
Due: type-check, eslint, stylelint

Move layer option to components
  app/scripts/components/common/dataset-layer-card/index.tsx
  app/scripts/components/common/dataset-layer-card/layer-options-menu.tsx
  app/scripts/libs/components.ts
Due: type-check, eslint, stylelint

WIP - Put data layer card example in storybook
  storybook/src/stories/data-layer-card-hooked.tsx
  storybook/src/stories/data-layer-card-options.stories.tsx
  storybook/src/stories/data-layer-card.stories.tsx
  storybook/vite.config.ts
Due: type-check, eslint, stylelint

Add datalayer card example with map
  storybook/src/stories/data-layer-card-hooked.tsx
  storybook/vite.config.ts
Due: type-check, eslint, stylelint

Add an example of layeroptionmenu hooked with map
  storybook/src/stories/basemap-example.stories.tsx
  storybook/src/stories/data-layer-card-hooked.tsx
  storybook/src/stories/data-layer-card-options.stories.tsx
Due: type-check, eslint, stylelint

feat: export exploration types for downstream consumers
  app/scripts/components/exploration/types.d.ts.ts
  app/scripts/libs/types.ts
Due: type-check, eslint, stylelint

feat: export all exploration types for downstream consumers
  app/scripts/components/exploration/types.d.ts.ts
  app/scripts/libs/types.ts
Due: type-check, eslint, stylelint

chore: remove unused imports
  storybook/src/stories/basemap-example.stories.tsx
  storybook/src/stories/data-layer-card-options.stories.tsx
Due: type-check, eslint, stylelint

refactor: remove unnecessary provider
  storybook/src/stories/data-layer-card-hooked.tsx
Due: type-check, eslint, stylelint

feat: add icon map story to support migration
  app/scripts/components/common/icons-legacy/index.tsx
  storybook/src/stories/icon-migration/mapping.stories.tsx
Due: type-check, eslint, stylelint

feat: add custom USWDS icons with Storybook integration
  app/scripts/components/common/icons/calendar-minus.tsx
  app/scripts/components/common/icons/calendar-plus.tsx
  app/scripts/components/common/icons/drop.tsx
  app/scripts/components/common/icons/index.tsx
  app/scripts/components/common/icons/utils.tsx
  storybook/src/stories/icon-migration/mapping.stories.tsx
Due: type-check, eslint, stylelint

Rename DataLayerCard
  app/scripts/components/common/dataset-layer-card/index.tsx
Due: type-check, eslint, stylelint

Make toggleColormap optional
  app/scripts/components/common/dataset-layer-card/colormap-options.tsx
  storybook/src/stories/components/exploration/components/datasets/colormap-options.stories.tsx
Due: type-check, eslint, stylelint

add migrated svg icons
  app/scripts/components/common/icons-legacy/index.tsx
  app/scripts/components/common/icons/calendar-minus.tsx
  app/scripts/components/common/icons/calendar-plus.tsx
  app/scripts/components/common/icons/collecticon/drop.tsx
  app/scripts/components/common/icons/collecticon/index.tsx
  app/scripts/components/common/icons/custom/calendar-minus.tsx
  app/scripts/components/common/icons/custom/calendar-plus.tsx
  app/scripts/components/common/icons/custom/index.tsx
  app/scripts/components/common/icons/drop.tsx
  app/scripts/components/common/icons/index.tsx
  app/scripts/components/common/icons/material-design/arrow-forward.tsx
  app/scripts/components/common/icons/material-design/autorenew.tsx
  app/scripts/components/common/icons/material-design/check.tsx
  app/scripts/components/common/icons/material-design/close.tsx
  app/scripts/components/common/icons/material-design/contact-page.tsx
  app/scripts/components/common/icons/material-design/expand-more.tsx
  app/scripts/components/common/icons/material-design/highlight-off.tsx
  app/scripts/components/common/icons/material-design/index.tsx
  app/scripts/components/common/icons/material-design/info.tsx
  app/scripts/components/common/icons/material-design/launch.tsx
  app/scripts/components/common/icons/material-design/menu.tsx
  app/scripts/components/common/icons/material-design/navigate-next.tsx
  app/scripts/components/common/icons/material-design/zoom-in.tsx
  app/scripts/components/common/icons/material-design/zoom-out.tsx
  app/scripts/components/common/icons/uswds/assessment.tsx
  app/scripts/components/common/icons/uswds/emoji-events.tsx
  app/scripts/components/common/icons/uswds/help-outline.tsx
  app/scripts/components/common/icons/uswds/index.tsx
  app/scripts/components/common/icons/uswds/map.tsx
  app/scripts/components/common/icons/uswds/near-me.tsx
  app/scripts/components/common/icons/uswds/science.tsx
  storybook/src/stories/icon-migration/mapping.stories.tsx
Due: type-check, eslint, stylelint

refactor: consistently wrap all icons with makeUSWDSIcon
  app/scripts/components/common/icons/material-design/arrow-forward.tsx
  app/scripts/components/common/icons/material-design/autorenew.tsx
  app/scripts/components/common/icons/material-design/check.tsx
  app/scripts/components/common/icons/material-design/close.tsx
  app/scripts/components/common/icons/material-design/contact-page.tsx
  app/scripts/components/common/icons/material-design/expand-more.tsx
  app/scripts/components/common/icons/material-design/highlight-off.tsx
  app/scripts/components/common/icons/material-design/index.tsx
  app/scripts/components/common/icons/material-design/info.tsx
  app/scripts/components/common/icons/material-design/launch.tsx
  app/scripts/components/common/icons/material-design/menu.tsx
  app/scripts/components/common/icons/material-design/navigate-next.tsx
  app/scripts/components/common/icons/material-design/zoom-in.tsx
  app/scripts/components/common/icons/material-design/zoom-out.tsx
  app/scripts/components/common/icons/uswds/assessment.tsx
  app/scripts/components/common/icons/uswds/emoji-events.tsx
  app/scripts/components/common/icons/uswds/help-outline.tsx
  app/scripts/components/common/icons/uswds/index.tsx
  app/scripts/components/common/icons/uswds/map.tsx
  app/scripts/components/common/icons/uswds/near-me.tsx
  app/scripts/components/common/icons/uswds/science.tsx
Due: type-check, eslint, stylelint

feat: add comparison story
  app/scripts/components/common/catalog/catalog-legacy/filter-tag.tsx
  storybook/src/stories/icon-migration/comparison.stories.tsx
Due: type-check, eslint, stylelint

feat: layer card related components (#1832)
  app/scripts/components/common/dataset-layer-card/color-maps.ts
  app/scripts/components/common/dataset-layer-card/color-range-slider/color-range-slider.scss
  app/scripts/components/common/dataset-layer-card/color-range-slider/colorRangeSlider.spec.tsx
  app/scripts/components/common/dataset-layer-card/color-range-slider/index.tsx
  app/scripts/components/common/dataset-layer-card/color-range-slider/utils.tsx
  app/scripts/components/common/dataset-layer-card/colormap-options.scss
  app/scripts/components/common/dataset-layer-card/colormap-options.tsx
  app/scripts/components/common/dataset-layer-card/colormap-section.tsx
  app/scripts/components/common/dataset-layer-card/index.tsx
  app/scripts/components/common/dataset-layer-card/layer-options-menu.tsx
  app/scripts/components/common/element-interactive.jsx
  app/scripts/components/common/figure.jsx
  app/scripts/components/common/map/layer-legend.tsx
  app/scripts/components/exploration/components/datasets/data-layer-card-container.tsx
  app/scripts/components/exploration/components/datasets/data-layer-card.tsx
  app/scripts/components/exploration/components/datasets/dataset-list-item.tsx
  app/scripts/components/exploration/components/layer-info-modal.tsx
  app/scripts/libs/components.ts
  app/scripts/libs/index.ts
  storybook/src/stories/components/exploration/components/datasets/colormap-options.stories.tsx
  storybook/src/stories/data-layer-card-hooked.tsx
  storybook/src/stories/data-layer-card-options.stories.tsx
  storybook/src/stories/data-layer-card.stories.tsx
  storybook/src/stories/mock-data.js
Due: type-check, eslint, stylelint

Split preset selector into container and representational
  app/scripts/components/common/map/controls/aoi/aoi-control.tsx
  app/scripts/components/common/map/controls/aoi/preset-selector-container.tsx
  app/scripts/components/common/map/controls/aoi/preset-selector.tsx
  app/scripts/components/common/map/controls/hooks/use-preset-aoi.tsx
Due: type-check, eslint, stylelint

Reinstall lockfile
  yarn.lock
Due: none

fix(ci): replace Verdaccio registry URLs with npm registry in yarn.lock
  yarn.lock
Due: none

ci: invalidate cache to force fresh install with npm registry
  .github/workflows/checks.yml
Due: none

ci: force yarn to use npm registry in all install steps
  .github/workflows/checks.yml
Due: none

ci: add explicit yarn registry configuration before install
  .github/workflows/checks.yml
Due: none

fix: replace remaining Verdaccio IP addresses in yarn.lock
  yarn.lock
Due: none

revert: remove unnecessary workflow changes, lockfile fix was sufficient
  .github/workflows/checks.yml
Due: none

fix: restore workflow to main branch version
  .github/workflows/checks.yml
Due: none

refactor: consolidate icon structure and improve naming consistency
  app/scripts/components/common/catalog/catalog-legacy/filter-tag.tsx
  app/scripts/components/common/custom-icon/calendar-minus.tsx
  app/scripts/components/common/custom-icon/calendar-plus.tsx
  app/scripts/components/common/custom-icon/drop.tsx
  app/scripts/components/common/custom-icon/index.tsx
  app/scripts/components/common/custom-icon/utils.tsx
  app/scripts/components/common/icons-legacy/index.tsx
  app/scripts/components/common/icons/collecticon/index.tsx
  app/scripts/components/common/icons/custom/index.tsx
  app/scripts/components/common/icons/index.tsx
  app/scripts/components/common/icons/material-design/arrow-forward.tsx
  app/scripts/components/common/icons/material-design/autorenew.tsx
  app/scripts/components/common/icons/material-design/check.tsx
  app/scripts/components/common/icons/material-design/close.tsx
  app/scripts/components/common/icons/material-design/contact-page.tsx
  app/scripts/components/common/icons/material-design/expand-more.tsx
  app/scripts/components/common/icons/material-design/highlight-off.tsx
  app/scripts/components/common/icons/material-design/index.tsx
  app/scripts/components/common/icons/material-design/info.tsx
  app/scripts/components/common/icons/material-design/launch.tsx
  app/scripts/components/common/icons/material-design/menu.tsx
  app/scripts/components/common/icons/material-design/navigate-next.tsx
  app/scripts/components/common/icons/material-design/zoom-in.tsx
  app/scripts/components/common/icons/material-design/zoom-out.tsx
  app/scripts/components/common/icons/uswds/assessment.tsx
  app/scripts/components/common/icons/uswds/emoji-events.tsx
  app/scripts/components/common/icons/uswds/help-outline.tsx
  app/scripts/components/common/icons/uswds/index.tsx
  app/scripts/components/common/icons/uswds/map.tsx
  app/scripts/components/common/icons/uswds/near-me.tsx
  app/scripts/components/common/icons/uswds/science.tsx
  storybook/src/stories/icon-migration/mapping.stories.tsx
Due: type-check, eslint, stylelint

refactor: clean up close icon implementation
  app/scripts/components/common/catalog/catalog-legacy/filter-tag.tsx
  storybook/src/stories/icon-migration/comparison.stories.tsx
  storybook/src/stories/icon-migration/mapping.stories.tsx
Due: type-check, eslint, stylelint

remove: delete uswds-icons.stories.tsx
  storybook/src/stories/uswds-icons.stories.tsx
Due: type-check, eslint, stylelint

Path conditions:
  type-check: any of: *.{ts,tsx}
  eslint: any of: *.{js,ts,jsx,tsx}
  stylelint: any of: *.{js,ts,jsx,tsx}
