Repository NASA-IMPACT/veda-ui: changes, and which lefthook commands are due for each by the changed paths.
All: type-check, eslint, stylelint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    type-check:
      glob: '*.{ts,tsx}'
      run: yarn ts-check
    eslint:
      glob: '*.{js,ts,jsx,tsx}'
      run: yarn eslint {staged_files}
    stylelint:
      glob: '*.{js,ts,jsx,tsx}'
      run: yarn lint:style {staged_files}

Separate out LayerCard with default options to sync with map
  app/scripts/components/exploration/components/datasets/data-layer-card.tsx
  app/scripts/components/exploration/components/datasets/dataset-list-item.tsx
Due: type-check, eslint, stylelint

Add Sandbox example
  app/scripts/components/sandbox/exploration/index.js
  app/scripts/components/sandbox/exploration/layer-card.js
  app/scripts/components/sandbox/index.js
Due: eslint, stylelint

Add an example of data layer card
  app/scripts/components/sandbox/exploration/layer-card.js
Due: eslint, stylelint

Fix mock data
  app/scripts/components/sandbox/exploration/layer-card.js
  app/scripts/components/sandbox/exploration/mock-data.js
Due: eslint, stylelint

Fix legend not stretching 100%, lint
  app/scripts/components/common/map/layer-legend.tsx
Due: type-check, eslint, stylelint

Set up modal separately
  app/scripts/components/exploration/components/datasets/data-layer-card.tsx
  app/scripts/components/exploration/components/datasets/dataset-list-item.tsx
  app/scripts/components/sandbox/exploration/layer-card.js
Due: type-check, eslint, stylelint

Use two dataset layer so we can check layers functionality
  app/scripts/components/sandbox/exploration/layer-card.js
  app/scripts/components/sandbox/exploration/mock-data.js
Due: eslint, stylelint

feat: Set up sandbox page for custom map
  app/scripts/components/sandbox/custom-map/index.tsx
  app/scripts/components/sandbox/index.js
Due: type-check, eslint, stylelint

fix: remove unnecessary comment
  app/scripts/components/sandbox/custom-map/index.tsx
Due: type-check, eslint, stylelint

Comment out datalayercard for now
  app/scripts/components/sandbox/exploration/layer-card.js
Due: eslint, stylelint

wrap VedaUIProvider and use timelineDatasets from atom
  app/scripts/components/sandbox/exploration/layer-card.js
Due: eslint, stylelint

test
  app/scripts/components/sandbox/exploration/layer-card.js
Due: eslint, stylelint

use timelinedatasets
  app/scripts/components/sandbox/exploration/layer-card.js
Due: eslint, stylelint

check there are timelineDatasets before rendering card without sync
  app/scripts/components/sandbox/exploration/layer-card.js
Due: eslint, stylelint

feat: Modify the MapBlock to disable specific features
  app/scripts/components/common/blocks/block-map.tsx
Due: type-check, eslint, stylelint

feat: Introduce a new MultilayerMapBlock component
  app/scripts/components/common/blocks/multilayer-block-map.tsx
  app/scripts/components/common/blocks/multilayer-map.scss
Due: type-check, eslint, stylelint

feat: Introduce LazyMultilayerMap
  app/scripts/components/common/blocks/lazy-components.js
  app/scripts/components/common/mdx-content.js
  app/scripts/components/sandbox/legacy/mdx-editor/index.tsx
Due: type-check, eslint, stylelint

feat: add mock usage for the MultilayerMap
  mock/datasets/data-from-ghg.data.mdx
Due: none

Expose useTimelineDatasetVisibility hook
  app/scripts/components/exploration/atoms/hooks.ts
  app/scripts/components/exploration/components/datasets/data-layer-card.tsx
  app/scripts/components/exploration/components/datasets/dataset-list-item.tsx
  app/scripts/components/sandbox/exploration/layer-card.js
Due: type-check, eslint, stylelint

feat: Move filtering/layer selection logic up one level to the lazy component wrappers
  app/scripts/components/common/blocks/lazy-components.js
Due: eslint, stylelint

feat: clean up the map blocks from the filtering/selection logic, add navigation control position config
  app/scripts/components/common/blocks/block-map.tsx
  app/scripts/components/common/blocks/multilayer-block-map.tsx
  app/scripts/components/common/blocks/multilayer-map.scss
  app/scripts/components/sandbox/customlayer/index.tsx
Due: type-check, eslint, stylelint

Change derived atoms to accept id instead of whole atom
  app/scripts/components/exploration/atoms/hooks.ts
  app/scripts/components/exploration/components/datasets/data-layer-card.tsx
Due: type-check, eslint, stylelint

refactor: move atom hook to where it is used
  app/scripts/components/exploration/components/datasets/data-layer-card.tsx
  app/scripts/components/exploration/components/datasets/layer-options-menu.tsx
Due: type-check, eslint, stylelint

refactor: Address review comments
  app/scripts/components/common/blocks/lazy-components.js
Due: eslint, stylelint

refactor: Update usage of CustomLayerDemo
  app/scripts/components/sandbox/customlayer/index.tsx
Due: type-check, eslint, stylelint

refactor: Remove obsolete props
  app/scripts/components/common/blocks/block-map.tsx
  app/scripts/components/sandbox/legacy/map-block/index.js
  app/scripts/components/sandbox/legacy/mdx-page/page.mdx
Due: type-check, eslint, stylelint

docs: Update mdx blocks usage docs, formatting
  docs/content/MDX_BLOCKS.md
Due: none

fix: Keep the datasetId usage, revert the deprecation warning from the previous commit
  app/scripts/components/common/blocks/lazy-components.js
Due: eslint, stylelint

refactor: improve MultiLayerMapBlock interface, make the dateTime controlled
  app/scripts/components/common/blocks/lazy-components.js
  app/scripts/components/common/blocks/multilayer-block-map.tsx
Due: type-check, eslint, stylelint

fix: Update MultilayerMap usage
  mock/datasets/data-from-ghg.data.mdx
Due: none

chore: Export the MultilayerMapBlock via the veda UI npm library
  app/scripts/libs/index.ts
  app/scripts/libs/mdx-components.ts
Due: type-check, eslint, stylelint

fix: Fix the MapBlock in the CustomLayer
  app/scripts/components/sandbox/customlayer/index.tsx
Due: type-check, eslint, stylelint

feat: Create wrappers for the react-uswds components, update imports
  app/scripts/components/common/blocks/multilayer-block-map.tsx
  app/scripts/uswds/index.tsx
  app/scripts/uswds/input.tsx
  app/scripts/uswds/select.tsx
Due: type-check, eslint, stylelint

fix: use same react major version of veda-ui
  core/package.json
Due: none

chore(release): update to version v6.11.0
  package.json
Due: none

feat: upgrade Storybook to v9
  core/.storybook/main.ts
  core/package.json
  core/vitest.workspace.ts
  core/yarn.lock
Due: type-check, eslint, stylelint

fix: import USWDS in storybook, setup styles
  core/.storybook/preview.ts
  core/package.json
  core/yarn.lock
Due: type-check, eslint, stylelint

feat: add USWDS stories to test Storybook integration
  core/src/stories/uswds-banner.stories.tsx
  core/src/stories/uswds-button.stories.tsx
  core/src/stories/uswds-card.stories.tsx
  core/src/stories/uswds.stories.tsx
Due: type-check, eslint, stylelint

Expose timeline related hooks and layercardwithsync
  app/scripts/libs/components.ts
  app/scripts/libs/hooks.ts
  app/scripts/libs/index.ts
Due: type-check, eslint, stylelint

Fix pathAttributeKeyName propagating to html
  app/scripts/context/veda-ui-provider.tsx
Due: type-check, eslint, stylelint
