Repository NASA-IMPACT/veda-ui: changes, and which lefthook commands are due for each by the changed paths.
All: type-check, eslint, stylelint

type-check:
  run: yarn ts-check

eslint:
  run: yarn eslint {staged_files}

stylelint:
  run: yarn lint:style {staged_files}

chore(release): cut minor version manually (#1431)
  package.json
Due: none

Remove homepage text about accessibility
  app/scripts/components/home/audience.tsx
Due: type-check, eslint, stylelint

chore(release): update to version v5.12.1
  package.json
Due: none

updating mobile navigation
  app/scripts/components/common/page-header/page-header.scss
  app/scripts/styles/_veda-ui-theme-vars.scss
Due: none

update layer-info-modal path attribute for nav
  app/scripts/components/exploration/components/layer-info-modal.tsx
Due: type-check, eslint, stylelint

Add wrapping div for scrollytelling map and chapters
  app/scripts/components/common/blocks/scrollytelling/index.tsx
Due: type-check, eslint, stylelint

fix: fix #1424
  app/scripts/components/common/catalog/prepare-datasets.ts
Due: type-check, eslint, stylelint

Separate out shared data attributes
  app/scripts/components/common/catalog/prepare-datasets.ts
  app/scripts/types/veda.ts
Due: type-check, eslint, stylelint

Add test case
  mock/datasets/no2.data.mdx
Due: none

Make description optional in StoryData
  app/scripts/components/common/catalog/utils.ts
  app/scripts/types/veda.ts
  mock/datasets/no2.data.mdx
  mock/stories/life-of-water.stories.mdx
Due: type-check, eslint, stylelint

update to comments
  app/scripts/components/exploration/components/layer-info-modal.tsx
Due: type-check, eslint, stylelint

creating cookie consent form flag & updating colors
  .env
  app/scripts/components/common/layout-root/index.tsx
  mock/veda.config.js
Due: type-check, eslint, stylelint

updating cookie styling
  app/scripts/components/common/cookie-consent/index.tsx
Due: type-check, eslint, stylelint

Update the collection id
  mock/datasets/power_meteorology.data.mdx
Due: none

Add temporary fix for power meteorology dataset
  app/scripts/components/exploration/hooks/use-stac-metadata-datasets.ts
Due: type-check, eslint, stylelint

Fix arc data loading
  app/scripts/components/common/map/style-generators/arc.tsx
  app/scripts/components/common/map/style-generators/cmr-timeseries.tsx
  app/scripts/components/common/map/types.d.ts
  app/scripts/components/common/mapbox/layers/arc-imageserver.tsx
  app/scripts/components/common/mapbox/layers/arc.tsx
  app/scripts/components/exploration/analysis-data.ts
  app/scripts/components/exploration/components/map/layer.tsx
  app/scripts/components/exploration/data-utils-no-faux-module.ts
Due: type-check, eslint, stylelint

updating footer styling
  app/scripts/components/common/page-footer/index.tsx
  app/scripts/components/common/page-footer/page-footer.scss
  app/scripts/components/common/page-header/index.tsx
  app/scripts/components/common/page-header/logo-container/index.tsx
  app/scripts/components/common/page-header/logo-container/logo-container.scss
  app/scripts/components/common/page-header/page-header.scss
  app/scripts/styles/_veda-ui-theme-vars.scss
Due: type-check, eslint, stylelint

Update app/scripts/components/common/page-header/logo-container/logo-container.scss
  app/scripts/components/common/page-header/logo-container/logo-container.scss
Due: none

Update sandbox.data.mdx
  mock/datasets/sandbox.data.mdx
Due: none

fix: Make banner flag path and alt text configurable
  app/scripts/components/common/banner/index.tsx
  parcel-resolver-veda/index.js
Due: type-check, eslint, stylelint

Remove the USWDS button from the legacy page header
  app/scripts/components/common/page-header-legacy/nav-menu-item.tsx
Due: type-check, eslint, stylelint

fix: Empty story description close #1424 (#1438)
  app/scripts/components/common/catalog/prepare-datasets.ts
  app/scripts/components/common/catalog/utils.ts
  app/scripts/types/veda.ts
  mock/stories/life-of-water.stories.mdx
Due: type-check, eslint, stylelint

Run release when it is triggered by workflow dispatch
  .github/workflows/release.yml
Due: none

chore(release): update to version v5.12.2
  package.json
Due: none

Reflect the recent change to legacy component
  app/scripts/components/common/page-footer-legacy.js
Due: eslint, stylelint

Convert Legacy Footer to ts
  app/scripts/components/common/page-footer-legacy.tsx
Due: type-check, eslint, stylelint

fix: Make Legacy Footer respect hideFooter prop, convert it to ts
  app/scripts/components/common/page-footer-legacy.tsx
Due: type-check, eslint, stylelint

chore(release): update to version v5.12.3
  package.json
Due: none

Remove USWDS assets from the lib bundle, dont copy them in the dist during deployment
  gulpfile.js
Due: eslint, stylelint

Pass options
  .release-it.js
Due: eslint, stylelint

Write a plugin for recommended bump, put debug flag
  .release-it.js
  package.json
  recommended-bump/index.mjs
  yarn.lock
Due: eslint, stylelint

Cleanup
  recommended-bump/index.mjs
Due: none

tablet view
  app/scripts/components/common/page-footer/index.tsx
  app/scripts/components/common/page-footer/page-footer.scss
Due: type-check, eslint, stylelint

footer tablet styling
  app/scripts/components/common/page-footer/index.tsx
  app/scripts/components/common/page-footer/page-footer.scss
Due: type-check, eslint, stylelint

remoing + at tablet level
  app/scripts/components/common/page-header/page-header.scss
Due: none

adding comments
  app/scripts/components/common/page-header/page-header.scss
Due: none

Path conditions:
  type-check: any of: *.{ts,tsx}
  eslint: any of: *.{js,ts,jsx,tsx}
  stylelint: any of: *.{js,ts,jsx,tsx}
